[2020-04-29 15:30] smalls commented on #559
I've proposed a small change to mention size units as part of general verification of converted output. In general there might be more recommendations we can give but I'm not sure how we'll keep them up to date. We've had a long-standing interest in tooling here (#278) which seems like potentially a better answer than a guide.

[2020-04-29 15:47] smalls opened #1181 "New PR came in as third-party and ran a minimal number of tests"
See https://github.com/google/model-viewer/pull/1180/checks for an example. More context available at https://github.com/google/model-viewer/pull/1180#issuecomment-621250809.

[2020-04-29 15:55] Arumugamhns commented on #1160
any example is available for swapping models?

[2020-04-29 16:51] mattchiang777 commented on #853
Hey @bankey1443, I'm running into this same exact issue you went through, except the production app is hosted on Google Cloud.

Hooking up my Pixel phone via adb, I get an error saying "invalid json". Copying and pasting the url where the file is hosted into the web browser does successfully download the .glb though.

Were you able to get AR Scene Viewer working? I couldn't tell if you got to that

[2020-04-29 18:17] gjcope opened #1182 "Loading bar inconsistencies"
### Description

I'm seeing different behavior with the loading bar when identical content is loaded from different sources. Not sure if this is a <model-viewer> issue or not but thought I would share.

When loading from a local source (or CDN in the Glitch demo) it acts as expected and completes shortly before the model displays. When loading from our 3d API the bar quickly fills and there is an

[2020-04-30 11:16] FilipK999 opened #1183 "Customize Custom Action Button in AR Quick Look mode"
### Description
Is there currently any way to customize the custom action button/apple pay button in AR Quick look mode?

Specifically, make the browser redirect to a url when the button is clicked?
In [Apple docs] (https://developer.apple.com/documentation/arkit/adding_an_apple_pay_button_or_a_custom_action_in_ar_quick_look)
they say you're supposed to add an event listener to the anchor tag that

[2020-04-30 17:35] elalish commented on #1181
@smalls This is desired behavior for third-party contributors; the issue is just that you shouldn't be a third-party.

[2020-04-30 17:40] elalish opened #1184 "Appending a second model-viewer element with the same src causes the first to stop rendering."
It's only true the first time; adding more works just fine, and removing one causes the first to start working properly. See the [Glitch](https://glitch.com/edit/#!/model-viewer-leak). This appears to be a regression in v0.10.0.

[2020-04-30 18:14] smalls commented on #1181
Further investigation, this is expected - I tend to work out of a forked repo, rather than a branch in this repo, and we've currently chosen to run a smaller number of tests for forked repos.

[2020-04-30 18:14] #1181 closed

[2020-05-01 21:06] #1184 closed

[2020-05-04 01:41] lanxinger commented on #936
@elalish got a reply from obj2gltf developer:

![image](https://user-images.githubusercontent.com/20549552/80931297-70f29b00-8deb-11ea-90c9-62110cd65bc7.png)

would that work?

[2020-05-04 15:00] karanganesan opened #1186 ""Cannot read property 'expandTo' of undefined""
### Description

Was trying to add model-viewer to a Create React App application, and ended up in this error.

#### Live Demo
https://codesandbox.io/s/model-viewer-demo-8z4x4?file=/src/App.js
https://8z4x4.csb.app/

### Browser Affected
- [x] Chrome
- [x] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [x] Safari

### OS
- [ ] Android
- [ ] iOS
- [ ] Linux
- [x] MacOS
- [ ] Windows

### Versions
- mod

[2020-05-04 15:11] Valentin-Huwer commented on #1071
AR Badge is not showing up in Chrome 80.0.3987.95 on iOS 13.4.1 (tried it on my own models as well as your example models). In Safari, it's working.

[2020-05-04 15:26] karanganesan commented on #1186
First of all doing

[code]

is this correct to add a web component inside react?

[2020-05-04 15:32] elalish commented on #936
Yes, removing the default would be ideal. Technically that's not letting
the engine decide, as the glTF spec specifies which default the engines
must use. However, they chose that default with input from the engines, as
we know anything other than LINEAR_MIPMAP_LINEAR results in significant
rendering artifacts. The performance difference from this is small since it
is handled in hardware anyway.

[2020-05-05 17:23] zivschneider opened #1189 "AR support on Firefox and Chrome for iOS"
### Description

AR button in Firefox on iOS prompts a download instead of AR. Works on Safari. on Chrome I am not seeing the AR button at all*.

*I looked for the Chrome webXR flags but they're not on the list.

#### Live Demo

https://sourdough-ar.glitch.me/

### Browser Affected

- [x] Chrome
- [ ] Edge
- [x] Firefox
- [ ] Helios
- [ ] IE
- [ ] Safari

### OS

- [ ] Android
- [x] iOS
- [ ] Linu

[2020-05-05 19:13] elalish opened #1190 "Problems with multiple webXR demos on one page"
When entering webXR mode with the second object on this [Glitch](https://model-viewer-blog.glitch.me/), the annotations disappear. When exiting webXR, the object is not properly centered.

[2020-05-06 07:53] hsluoyz opened #1192 "How to use this project in React?"

[2020-05-06 20:06] DamianoBuscemi opened #1194 "ar-scale="fixed" not working as expected"
Hello I am not able to block the scaling of the object while dispayed in Quick Look, the code is below:

https://areatest.popcornmedia.it/arstorewebsite/espositori.html
model-viewer@0.3.1

<model-viewer
                alt="A 3D model of mine."
                src="3d/Expo_Popcorn/Expo_Popcorn.gltf"
                ios-src="3d/Expo_Popcorn.usdz"
                magic-leap ar
                auto-r

[2020-05-07 01:23] lanxinger commented on #936
thank you @elalish

[2020-05-07 17:04] #1190 closed

[2020-05-08 21:44] elalish commented on #1194
Last I checked, Quick Look doesn't have a way to disable scaling, so this is only respected in WebXR and SceneViewer. We should probably mention that in our docs...

You're not really on version 0.3.1, right? That would be very outdated.

[2020-05-08 21:49] elalish commented on #1176
Does this [comment](https://github.com/google/model-viewer/blob/3ef0948d4217a660627e62bb03c7fe404d0a57ed/packages/model-viewer/src/features/ar.ts#L205) help? Does it work better if you put `webxr` ahead of `scene-viewer` in `ar-modes`?

[2020-05-08 21:50] elalish commented on #1177
Can you give us specific devices / browsers where it's not working? If you try a different order of `ar-modes` does that give different results?

[2020-05-08 21:55] elalish commented on #1178
We don't have any plans to work on that currently. If Three.js has post processing that would work for you, your best bet would probably be to fork model-viewer and add those effects to our existing three.js renderer. If you think up a general API for post-processing effects, we'd welcome a contribution.

[2020-05-08 21:56] DamianoBuscemi commented on #1194
Thank you elalish!
You are right I updated the version to the last one.
I was able to force not scaling adding this at the end of the File https://developer.apple.com/arkit/gallery/toy_biplane.usdz#allowsContentScaling=0

As mentioned here https://cwervo.com/writing/quicklook-web/

Maybe It could be included in the next release?

Damiano

[2020-05-08 21:59] elalish commented on #1194
@DamianoBuscemi Thank you for the tip! Sure, I'll add this to the milestone.

[2020-05-08 22:02] elalish commented on #1182
Interesting; can you tell me more about your 3D API? And have you tried both glTF and glb models?

[2020-05-08 22:06] elalish commented on #1183
We have another thread going on this topic [here](https://spectrum.chat/model-viewer/general/google-apple-pay-buttons-in-model-viewer~9fc1aeb6-f0d1-4e80-9faf-216c0fed036a). The short answer is not currently, but we're working on making this awesome for webXR. Not sure what to do for Quick Look yet.

[2020-05-08 22:14] gjcope commented on #1182
This is the Smithsonian 3D API. Right now we are just serving the glbs. It's not a roadblock for us, but just thought it was interesting that there was inconsistent behavior. Thanks for taking a look!

-Jamie

[2020-05-08 22:15] elalish opened #1196 "Stale hotspots are briefly visible when entering webXR mode"
The DOM overlay gets composited before ARCore has given us a pose to show the model. We need to hide the hotspots and render a frame before starting the webXR session.

[2020-05-08 22:28] elalish commented on #1182
@cdata Since you wrote the progress tracking code, do you have any thoughts on why the behavior is not consistent?

[2020-05-09 10:17] lupohirp opened #1198 "Customize UI Elements for WebXR / Scene-Viewer / Quick-look"
Hello,

this is a great project. I'm using it for my platform.
Is possible to add custom buttons/links element when entering in AR Mode? ( for example, i want to add a  button that add to cart something )

[2020-05-10 17:59] suro7 commented on #912
hi @cdata @elalish @soraryu
Do you have any suggestions on this?

[2020-05-11 08:53] ybinstock commented on #1177
I'm getting the same issue. See the attachment for the error.
<img width="1086" alt="Screenshot 2020-05-11 at 10 52 01" src="https://user-images.githubusercontent.com/8645066/81542778-7b75dd00-9375-11ea-8c5a-88d5af2dc471.png">

Here is my code https://github.com/ybinstock/dailySculptureAR/blob/gh-pages/index.html

[2020-05-12 08:30] dthery opened #1199 "A hole in the ground."
### Description

Can we consider placing a model under the ground?
With the example below, I would like the cylinder to be in the ground and the cube on the ground.
We should be able to look inside as if it were a well.

#### Live Demo

https://www.dithernet.com/trou
Download the model here:
https://www.dithernet.com/Astro/etalon.glb

[2020-05-12 09:18] efsjouw opened #1200 "Safari "A problem repeatedly occured on domain.x" on iOS"
### Description

I only get this error in Safari on iOS when there are a lot of model-viewers on the page. Even if content is only lazy-loaded on interaction.

#### Live Demo
https://recreate-glb-samples.glitch.me/

### Browser Affected

- [ ] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [x] Safari

### OS

- [ ] Android
- [x] iOS
- [ ] Linux
- [ ] MacOS
- [ ] Windows

### Versions

I u

[2020-05-12 09:57] p0wl commented on #687
nice! If there is anything we can do to support (like testing, ...) let me know! Thanks for your work!!

[2020-05-12 14:44] areavisuale opened #1201 "Same material applied to different objects not working in Scene Viewer"
### Description

I noticed that glb/gltf files that have 2 or more objects with the same material applied are not working in sceneviewer. (I remember that it worked before... I exported the 3d model from cinema4D) If I load these files in https://arvr.google.com/scene-viewer-preview nothing is shown, but there aren't errors. When I load these files in a android device I can see the model viewer pa

[2020-05-12 14:48] areavisuale commented on #1201
also models that have only a color instead of a texture in the color channel are not working in scene viewer... this is strange...

[2020-05-12 15:49] areavisuale opened #1202 "Metalness strange behaviour in model viewer using Oppo Realme Pro 5"
### Description

I noticed that the same 3d model appear very different inside model viewer if I use the device OPPO Realme Pro 5. In particular the problem is in the metalness value that is 0 and seems to be overwritten and the model appear completely metallic. This happens only in model viewer, when I go in AR mode the model appears correctly. I tried to see the model in the PC browser and in an

[2020-05-12 15:59] elalish commented on #556
I think #1125 was an adequate solution to this.

[2020-05-12 15:59] #556 closed

[2020-05-12 16:45] elalish commented on #481
I would say this is already supported, as you can change the src URL of the model-viewer element at any time, as shown in the last example from this docs [page](https://modelviewer.dev/examples/model-formats.html). We even cache the models, so you can switch back and forth quickly, and you can control the cache with modelCacheSize.

[2020-05-12 16:45] #481 closed

[2020-05-12 16:47] elalish commented on #484
We now have a [tool](https://modelviewer.dev/examples/tester.html) for this, though we call thumbnails "posters".

[2020-05-12 16:47] #484 closed

[2020-05-12 16:54] elalish commented on #116
Working as intended.

[2020-05-12 16:54] #116 closed

[2020-05-12 17:01] elalish commented on #397
I think the ship has sailed on this. I'm fine with the current behavior, and our users haven't complained.

[2020-05-12 17:01] #397 closed

[2020-05-12 17:05] elalish commented on #208
I would actually rather not expose this, especially since it is so poorly understood. Hopefully Khronos 3D Commerce eventually picks one to standardize on.

[2020-05-12 17:05] #208 closed

[2020-05-12 17:08] elalish commented on #294
No longer applies.

[2020-05-12 17:08] #294 closed

[2020-05-12 17:21] elalish commented on #199
Not in scope.

[2020-05-12 17:21] #199 closed

[2020-05-12 17:22] elalish commented on #202
Now that rendering is transparent and you can set whatever CSS background you want, this does not seem necessary.

[2020-05-12 17:22] #202 closed

[2020-05-12 17:23] elalish commented on #214
I think we already did this, for camera-orbit, camera-target, etc.

[2020-05-12 17:23] #214 closed

[2020-05-12 17:23] elalish commented on #146
Out of date, probably since Edge became Chromium.

[2020-05-12 17:23] #146 closed

[2020-05-12 17:32] #66 closed

[2020-05-12 17:33] elalish commented on #44
This seems to be working.

[2020-05-12 17:33] #44 closed

[2020-05-12 17:35] elalish commented on #782
@pushmatrix Have you seen this lately? It might have been a Chrome bug, so I'd like to know if I should close it or investigate it.

[2020-05-12 17:37] pushmatrix commented on #782
@elalish I haven't seen it either. Good to close

[2020-05-12 17:38] elalish commented on #796
I'm going to close this since there doesn't seem to be a problem with model-viewer.

[2020-05-12 17:38] #796 closed

[2020-05-12 17:44] elalish commented on #810
Good discussion all around, but I think the consensus is we should not try to heuristically detect geometry attributes. When automatic scene framing is not good, we give access to all the camera parameters to customize it, which I think is a reasonable fallback.

[2020-05-12 17:44] #810 closed

[2020-05-12 17:47] elalish commented on #812
I can't repro, so I think this got fixed during one of the prompt refactors.

[2020-05-12 17:47] #812 closed

[2020-05-12 18:05] GabrielArakaki opened #1203 "Rescaling .glb files"
### Description

Hi! I have a few thousand 3d models exported as `glb`, but they were exported by a supplier with their scale units in centimeters, so in AR we have models 100x bigger than they should.

That said, is it possible to resolve this issue in one of the following:
1 - Set the AR scale fixed, but to a % value, such as 1%?
2 - Change the scale of the AR platform to centimeters instead of

[2020-05-12 20:05] elalish commented on #980
I'd say this is working as intended, see my comment above.

[2020-05-12 20:05] #980 closed

[2020-05-12 20:28] cdata opened #1205 "Firefox test flake: retains turntable rotation when auto-rotate is toggled"
Flakey as of https://github.com/google/model-viewer/commit/6ed11e5bddedffdc0db7cf683b254f8549f6c650

[code]

[2020-05-12 20:29] cdata opened #1206 "Firefox test flake: pauses rotate after user interaction"
Flakey as of https://github.com/google/model-viewer/commit/6ed11e5bddedffdc0db7cf683b254f8549f6c650

[code]

[2020-05-12 20:35] cdata opened #1207 "Re-enable Chrome / Edge stable when 83.0 lands in stable"
There appears to be some kind of critical issue in Chrome/Chromium 81.0 that causes our test suite to crash. This results in our test runner appearing to hang or timeout. The problem seems to affect both Chrome and Chromium-based derivatives such as Edge. Empirical observation suggests that Chrome 83.0 and Edge 83.0 are not affected by the bug, so we have disabled testing other versions of these b

[2020-05-13 13:27] PolGuixe opened #1208 "NPM package not working in React"
### Description

This happens within a GatsbyJS project. If I import the package using Unpkg it works fine. When using NPM it breaks.

Working code:
[code]

NOT Working code:
[code]

Error on the console:

[code]

I am not sure if it is a bug I something I am doing wrong.

#### Live Demo

Also not able to build the project when using NPM. I am getting this error:

[code]
I could find a way around

[2020-05-13 15:51] PolGuixe opened #1209 "Best practice feature request: touch and wheel event listeners as `passive`"
## Feature request

### Description
Would it be possible to have a prop to enable/disable the touch and wheel event listeners as `passive`?

It is recommended by Lighthouse
![Screenshot 2020-05-13 at 17 45 01](https://user-images.githubusercontent.com/6626225/81835163-3226b880-9542-11ea-8855-757322290918.png)

More info [here](https://web.dev/uses-passive-event-listeners/?utm_source=lighthouse&utm

[2020-05-13 17:47] stevesan opened #1210 "With no src model, camera-change fires continuously"
### Description

Put this in an html file:
[code]

#### Live Demo
https://jsfiddle.net/62odkf1y/

### Browser Affected

- [tested ] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [ ] Safari

### OS

- [ ] Android
- [ ] iOS
- [ ] Linux
- [ ] MacOS
- [ tested] Windows

### Versions

- model-viewer: v0.10.0
- three.js: r??

[2020-05-13 18:31] #1110 closed

[2020-05-13 18:57] elalish commented on #1202
Thanks for the report! This has the smell of a driver bug in that phone. There's a chance we can find a workaround for it in three.js (there are plenty of others there), but I don't have a phone to repro it on. Can you repro it [here](https://gltf-viewer.donmccurdy.com/)? If so, you can file a bug on three.js and it's more likely someone there might have the same phone.

[2020-05-13 19:00] soraryu commented on #1110
One note: while this should fix performance for dual-GPU systems (most Optimus laptops probably), the other part of this issue was the memory leaks and crashes that occured. These probably still happen the same on lower-end GPUs. Have you looked into those as well @elalish?

[2020-05-13 19:00] elalish commented on #1201
@areavisuale Can you check that the model doesn't show any errors in either of these validators? https://github.khronos.org/glTF-Validator/ and https://vr.google.com/scene-viewer-preview

[2020-05-13 19:03] elalish commented on #1110
@soraryu I have attempted, but haven't met with much success yet. If you manage to find a potential source, let me know and I'll look into it. Chrome's memory info is not making anything particularly clear to me.

[2020-05-13 20:12] elalish commented on #1201
@areavisuale Interesting that nothing shows up in the scene-viewer-preview. @tpsiaki can you give any details here? Maybe a glTF parsing error?

[2020-05-13 20:16] elalish commented on #1199
That's interesting. Perhaps we could introduce an attribute like `ar-y-offset`? That would allow for holes and also floating objects. How does that sound?

[2020-05-13 20:24] elalish commented on #1200
@efsjouw It seems to be working fine on my iPhone SE. Can you give more specific repro steps? If the problem is only when you've loaded a bunch of the models, it's probably just running out of GPU ram, which there's not much we can do about. You can either compress your models (especially trim down texture sizes) or set up your page to swap `src` instead of having them all on the page at once. The

[2020-05-13 20:28] elalish commented on #1208
I believe #690 is related and has some good discussion. We are not React experts here, so a contribution would be very much welcome if anyone figures out what the problem is.

[2020-05-13 20:29] elalish commented on #1192
There are some useful pointers in the discussion on #690.

[2020-05-13 20:35] elalish commented on #1198
Thank you! Using Chrome beta, any child elements you add to model-viewer will show up in webXR. We're planning to flesh this out a bit for the next release. As for the native apps, you can read about our thoughts [here](https://spectrum.chat/model-viewer/general/google-apple-pay-buttons-in-model-viewer~9fc1aeb6-f0d1-4e80-9faf-216c0fed036a).

[2020-05-13 23:30] ronpadz commented on #1199
A few thoughts on this:
- What would the shadow behavior be?
- Seems to be related to #998

[2020-05-14 00:01] areavisuale commented on #1202
I verified that the problem appear also in that viewer. I just written in the three.js forum

[2020-05-14 06:35] dthery commented on #1199
Yes @elalish,  it would be interesting. Thank's.

[2020-05-14 08:12] PolGuixe commented on #1208
I have managed to make it work using. React.Lazy and React.Suspense i.e. dynamic imports, and avoid the rendering when in SSR.

I need to do some further testing to make sure it is stable.

[2020-05-14 08:15] PolGuixe commented on #1209
The warning disapears  in Lighthouse if you are using the NPM package, instead of the Unpkg ones.

[2020-05-14 10:02] PolGuixe commented on #1208
Ok. more progress.

I did work when I was compiling the project but not when I was just executing in development mode.

The solution is also explained in #690

[code]

[2020-05-14 15:08] elalish commented on #1199
@ronpadz Thanks for linking to #998; something like `normal-offset` might be more generic for also handling placement on vertical surfaces as in #687.

I think the shadow should stay on the plane the object is offset from. Perhaps it should even expand the bounding box for the purposes of auto framing? When we get into vertical placement there's also the question of whether the shadow should be on

[2020-05-14 21:46] #1194 closed

[2020-05-14 21:46] #1196 closed

[2020-05-14 22:28] elalish commented on #1186
We don't know much about React around here, but I'd recommend looking at the discussion in #690 for hints.

[2020-05-14 22:51] #1210 closed

[2020-05-15 13:32] efsjouw commented on #1200
It is a 6s Plus, I added some load model buttons now so it wouldn't start loading all the models at once but still appears to have some problems.

[2020-05-15 17:30] #1168 closed

[2020-05-15 18:13] schmidtsonian commented on #1172
Is there a way of preventing zooming?

[2020-05-15 18:35] elalish commented on #1172
@schmidtsonian Yes, if you set the `min-camera-orbit` and `max-camera-orbit` radius to the same value and also set `min-field-of-view` and `max-field-of-view` to the same value then no zooming will happen.

[2020-05-15 19:22] schmidtsonian commented on #1172
@elalish I made this: https://codepen.io/schmidtsonian/pen/VwvEwVw?page=1

[2020-05-15 20:06] elalish commented on #1172
@schmidtsonian Ah, it's because your model-viewer is very out of date and doesn't even recognize these attributes. You're using 0.6 and our latest is 0.10. Try that and see if it works better. Also, `camera-orbit` is has three parameters, theta, phi and radius, so you'd want something more like `auto auto 1m`. For FoV, maybe start with `45deg`.

[2020-05-15 21:15] #1174 closed

[2020-05-15 23:51] hellozuech commented on #690
I am having the same issue with nextjs and react. I am unable to getting it working with the recommendations above. The page displays but the model viewer is empty.

I tried both dynamic and import '@google/model-viewer/dist/model-viewer';

[2020-05-15 23:52] ZuechB commented on #690
I am having the same issue with nextjs and react. I am unable to getting it working with the recommendations above. The page displays but the model viewer is empty.

I tried both dynamic and import '@google/model-viewer/dist/model-viewer';

[2020-05-16 11:33] eyeSphere opened #1215 "<model-viewer> can't load glTF model hosted on google drive / dropbox"
Hello!
I'm trying to load a glTF model on a website using model-viewer.
The model is hosted on google drive and dropbox, but neither of the links load the model.
The loading bar appears and then blank.
But the model loads fine on the glTF online previewer tool.
Does anyone know what may be the issue?
Here's the example:

[code]

[2020-05-18 21:38] cdata opened #1216 "Update Three.js dependency to r117"
Currently, the latest Three.js release is r116. As of #1166 , we depend on a change in Three.js that has not yet been released (https://github.com/mrdoob/three.js/pull/19359). Before we release v1.0, we need to wait for Three.js r117 and update the dependency in our package.json files.

[2020-05-19 15:50] artob commented on #1109
Something to note is that developers working with the Android emulator tend to have old Chrome versions by default. I was trying to get the model viewer working in a WebView on an Android 10 image, but that didn't work out; as it turned out, that image shipped with Chrome 74:

![Screenshot_1589902854_cropped](https://user-images.githubusercontent.com/4963/82347572-7dd4d880-9a00-11ea-8bb0-b5ed8b764

[2020-05-19 17:54] elalish commented on #1215
Did you check the JS console for errors and warnings? I would guess the problem is not having the right CORS headers set.

[2020-05-20 14:31] Arumugamhns opened #1219 "image target for AR Mode"
I have one business card.
i need to show the model in AR mode by place the camera view on that business
is it possibile in model-viewer

[2020-05-20 22:43] mqg734 opened #1220 "Please add an option to allow the model to render and be visible before model-viewer is in the viewport"
There are ads use-cases where the ad slot starts below-the-fold. The entire ad needs to already be rendered off-screen before it comes into view. Currently, you can load the model offscreen, but there is still a delay when the model is rendered as the model first enters the viewport.

Live Demo at:
The model-viewer is at the bottom of the page. When you scroll down to the bottom (3000px), you will

[2020-05-20 22:53] elalish commented on #1220
Thanks! Would a method like `forceRender()` work for you, which would force a single render when called?

[2020-05-21 07:42] otri commented on #1189
+1, Chrome and Firefox browsers on iOS is very commonly used.

Detection method is the same:
[code]

[2020-05-21 21:32] #519 closed

[2020-05-21 21:32] #1098 closed

[2020-05-23 19:13] felixhaeberle opened #1222 "lighthouse: lighthouse statistics going crazy"
### Description
The model-viewer library in general has performance issues which can be observed by the Lighthouse scoring. On every site I embed it, it ruins the Lighthouse score single-handed and it gets unrealistic time-to-interactive of 20sec.

![Screenshot 2020-05-23 21 09 04](https://user-images.githubusercontent.com/34959078/82738725-3a4cd800-9d3a-11ea-8e5c-e8c13b2ebdd6.png)

#### Live Demo

[2020-05-24 09:25] jithinagiboson commented on #1203
i am also having the same doubt i thought **ar-scale** property can accept scale in percentage but did not work

[2020-05-25 12:38] goout opened #1224 "Google Scene Viewer can't show GLTF model exported via three.js ."
[Scene Viewer](https://arvr.google.com/scene-viewer-preview) shows nothing when i try open that [model.zip](https://github.com/google/model-viewer/files/4677135/model.zip)

No warnings, no errors. That model is result of subtraction operation made with 'three-csg' and exported from three.js via GLTFExporter.

Another viewers like
[https://gltf-viewer.donmccurdy.com/](https://gltf-viewer.donmccurdy

[2020-05-26 12:01] goout commented on #1224
subtraction operation is nothing to do with it, simple cube created and exported with three js is not displayed too.

[pure cube.zip](https://github.com/google/model-viewer/files/4682011/pure.cube.zip)

[2020-05-26 14:50] vanessauso commented on #964
Sure! I am sending you the link where the files are, you can also find the environment image (HDRI) in the same folder. Here is the link: https://drive.google.com/drive/folders/1enMvk2tZN30utxErOX5ggZ2526nBLcMK?usp=sharing

About the AR, I mean both SceneViewer (Android) and QuickLook (iOS)
Thank you for the help!

[2020-05-26 15:46] elalish commented on #964
@vanessauso This looks to be a difference in exposure, so I'd recommend turning down the exposure attribute to less than 1. It could also be a difference in tone-mapping, but that will be more subtle. The exposure parameter will not affect AR. Keep in mind that both AR (both sceneViewer and Quicklook) as well as gltf-viewer use their own lighting which you cannot adjust, so they will never match e

[2020-05-26 16:48] milesgreen opened #1225 "Poster generation with toDataURL and toBlob fails in some browsers"
### Description

Poster generation does not work on some browsers. Using Safari or Firefox on Mac, generating poster images using `toDataURL` or `toBlob` methods generates a blank / empty image rather than a screenshot of the ModelViewer content. Both methods _do_ work in Chrome on Mac though.

#### Live Demo

My demo
https://model-viewer-poster.glitch.me/

Your demo
https://modelviewer.dev/exampl

[2020-05-26 19:27] phreak commented on #1200
I experience the same and actually would like to deactivate loading at all and only use the device recognition (Android, iOS) on mobile devices to call the AR functionality.

[2020-05-26 20:02] elalish commented on #1200
@phreak Can you tell me more about your use case? What happens for browsers that don't support AR, as in neither webXR nor native apps?

[2020-05-26 22:01] elalish opened #1228 "Refactor renderers"
The ARRenderer is a member of Renderer, but really it should be a sibling; the only thing they share is the threeRenderer. See this [comment](https://github.com/google/model-viewer/pull/1221#discussion_r430473435).

[2020-05-27 07:15] phreak commented on #1200
@elalish: Thank you for asking.
Basically I show about 7 models on a page which works fine on a Mac Desktop (Chrome) and and a recent iPad Pro (Safari). One model is on the top of the page and 6 are below the fold. Loading the page on mobile with iPhone Xs Safari appears to load the page first regulary but then within a few seconds a second time (due to technical issues I guess). The page works as

[2020-05-27 08:55] bwilytsch commented on #693
I have the same error whenever I hit the AR button. Validated my models with https://github.khronos.org/glTF-Validator/ and iOS safari works perfectly. I get this error on Android with Chrome 83.0.4099.5.

I am using model-viewer@0.10.0 and added all recommended polyfills as well. Every help is highly appreciated!

P.S. Using it within next.js env

[2020-05-27 15:41] elalish commented on #1200
@phreak It sounds like a bug if you've set loading="lazy" and reveal="interaction" and the models are still loading when they come in the viewport. Could you file a separate issue for that with a glitch to demonstrate? I'd like to get that fixed, which may solve this problem as well, at least partially.

[2020-05-27 19:18] JonasBlazin opened #1230 ":focus {outline:none;}"
I have been trying to remove the focus outline with no success, I attempted to follow a previously raised issue, with no good resolution. Please see my journey with in stack overflow trying to over come it:
https://stackoverflow.com/questions/62044624/model-viewer-outline/62045135#62045135

[2020-05-28 14:58] stevesan opened #1232 "Some unexpected hotspot visibility behavior?"
### Description

Just added a hotspot to the robot's front, and it doesn't seem to be "visible" (ie. solidly opaque) as expected. See this screenshot:
![image](https://user-images.githubusercontent.com/1388372/83157727-ee02ee80-a0d1-11ea-9a60-70227e60fd33.png)

And this:
![image](https://user-images.githubusercontent.com/1388372/83157780-fa874700-a0d1-11ea-81f0-35c150c9044d.png)

But sometimes whe

[2020-05-28 15:08] #1216 closed

[2020-05-28 16:56] #1230 closed

[2020-05-28 16:57] JonasBlazin commented on #1230
I just yoinked the code from the example page and it works now.

[2020-05-28 17:26] JonasBlazin opened #1233 "onclick="addHotspot()""
`<button onclick="addHotspot()">Add Hotspot</button><br>`

I can't seem to get this to work, is there a specific .js script that it needs? I seem to have copied all of the js scripts with in the example model.

[code]

[2020-05-28 18:21] #261 closed

[2020-05-28 18:36] elalish commented on #1232
I've reproed it, thanks. Hopefully this is specific to animated models, as hotspots don't really support animation yet anyway. I'll probably fix this as part of #1053.

[2020-05-28 23:43] elalish opened #1234 "Correlated scene graph generation fails for very simple glTFs"
This appears to be why our fidelity testing is down. If you serve master and go to http://localhost:8080/packages/render-fidelity-tools/test/renderers/model-viewer/, then select khronos-Triangle (or a number of the other very simple test cases; the complex ones work fine), you'll see it renders nothing. If you open dev tools and make it pause on caught exceptions, you'll see the problem is in corr

[2020-05-29 18:49] #1234 closed

[2020-05-31 06:42] rafeekwassef opened #1238 "How to use the camera from gtlf file."
Hi,

I'm wondering is it possible to use the camera that has been set into the gltf file?

 "cameras": [
        {
            "name": "active",
            "perspective": {
                "aspectRatio": 1,
                "yfov": 0.1795163487444869,
                "zfar": 878.5548095703125,
                "znear": 810.1922607421875
            },
            "type": "perspective"

This is the

[2020-06-01 22:01] elalish commented on #1233
@JonasBlazin It looks like you copied from our interactive example page which is not the simplest version of model-viewer to get started with. It also uses extra dependencies for functions like addHotspot(). If you want to get started with hotspots, I'd recommend you start from the [annotations](https://modelviewer.dev/examples/annotations.html) page of our docs. Our interactive example page is th

[2020-06-01 22:07] JonasBlazin commented on #1233
But I am specifically after addHotspot() functionality as is in the interactive example. As I want people to be able to dynamically add hotspots with a click of a button.

[2020-06-01 22:08] elalish commented on #1238
@rafeekwassef We don't support this yet, but we've been considering it. Can you tell me about your use case? One thing that concerns me somewhat is that a gltf camera specifies an aspectRatio, but that is defined by the model-viewer element's dimensions. How would you go about rationalizing those?

[2020-06-01 22:17] elalish commented on #1233
@JonasBlazin Ah, then you'll want to copy the relevant parts of that [function](https://github.com/google/model-viewer/blob/93ee481548c64da745af04be2e55f2a04f73f8f5/packages/modelviewer.dev/src/tester.ts#L126), including the onClick method a few lines down.

[2020-06-01 22:24] elalish commented on #1224
@tpsiaki Since glTF validator likes it, I presume this is a SceneViewer glTF parsing problem?

[2020-06-01 22:27] elalish commented on #1219
Not currently. I'm not aware of this being supported in either SceneViewer or QuickLook, and I don't believe there's a webXR API for image tracking yet either, but I think there has been some discussion of it. @klausw if you have anything to add here.

[2020-06-01 23:24] elalish commented on #1222
Thank you for pointing this out; we definitely have our work cut out for us in this area, due to the high network, CPU and GPU cost of 3D rendering. Our docs pages are not ideal candidates, as they are designed primarily for ease of understanding, rather than load performance. A better example might be: https://www.khronos.org/blog/view-a-gltf-model-in-ar-on-android-without-leaving-your-browser, w

[2020-06-02 04:33] rafeekwassef commented on #1238
Thanks for your replay, I guess that it should be achievable by something like PerspectiveCamera in the three.js
PerspectiveCamera( fov : Number, aspect : Number, near : Number, far : Number )

Anyhow, I already got so close result by:
camera-orbit= "0deg 90deg 878.55m"
camera-target= "0m 58.457m 844.374m"

Here is a screenshot from https://threejs.org/editor/
<img width="275" alt="Screen Shot 202

[2020-06-02 06:41] goout commented on #1224
@elalish we found out that problem with non-indexed geometries.
[discourse.threejs.org](https://discourse.threejs.org/t/gltfexporter-exporting-model-that-show-nothing-at-android-scene-viewer/15519)

[2020-06-02 13:28] nick-sp opened #1240 "Lock rotation to single axis"
Is there a way to lock the user rotation of an object on a single axis (Y)?

[2020-06-02 15:14] elalish commented on #1224
@tpsiaki Looks like SceneViewer chokes on non-indexed glTFs?

[2020-06-02 18:04] JonasBlazin commented on #1233
[code]

I am still highly confused as to how to get this to work. I had followed the instructions on github on how to install all dependencies:

git clone git@github.com:google/model-viewer.git
cd model-viewer
npm install
npm run bootstrap

What am I doing wrong? Apologies about dumb questions but this is my first go in more complex issues past html/css.

[2020-06-02 18:34] elalish commented on #1233
@JonasBlazin No problem, we're here to help. And no need to close the issue; others will probably have similar questions down the road. You look to be following the developer instructions, but that shouldn't be necessary unless you want to contribute to model-viewer.

Instead of serving locally, I'd recommend building a Glitch, perhaps remixing our [example](https://glitch.com/edit/#!/model-viewer

[2020-06-02 19:03] JonasBlazin commented on #1233
Ok here is a "remix" that I made. I have added the button with addHotspot() and removeHotspot().

And I have trimmed down tester.ts to what I think is relevant for the add/removeHotspot() which I called hotspot.ts.

and on html I called it with   <script> src="hotspot.ts"</script> not sure if it being on the very end of the html is working against me or not.

And I'll shoot in the dark here with t

[2020-06-02 19:05] JonasBlazin commented on #1233
Just realised that I need to add id="loading-demo" to the mode;-viewer as it is being called in the hotspot.ts

[2020-06-02 19:13] elalish commented on #1233
The first step is you're not using TypeScript like we do internally, so you'll want to change `.ts` to `.js`. Second, as you suggested, is remove the imports and the SimpleDropzone (that's to drag-and-drop models). Likewise instead of TS-style `export function`, you'll want your functions to take a form like: `window.addHotspot = () => { viewer.addEventListener('click', onClick); };` and onClick s

[2020-06-02 19:14] elalish commented on #1233
Make sure to check the JS console in Chrome dev tools; that should help you work through errors you encounter.

[2020-06-02 19:18] JonasBlazin commented on #1233
Out of curiosity how come you guys use .ts ?

[2020-06-02 19:20] elalish commented on #1233
We build our project internally using TypeScript, which is very similar to JavaScript, but requires a compilation step to output true js. It is helpful for a large project like this because it gives us strong type-safety, allowing its compiler to catch a lot of errors before we even get to testing.

[2020-06-02 19:27] JonasBlazin commented on #1233
Does it mean that the whole hotspot.ts needs to re-written in a syntax closer to .js or is it just export functions? If so could one use a compiler to turn it into .js?

[2020-06-02 19:32] elalish commented on #1233
Ts and js syntax are nearly identical, so start with just copying. The
console should help if there are any remaining issues. If you’re new to js,
you may want to start by modifying one of our simpler script examples to
get comfortable.

On Tue, Jun 2, 2020 at 12:27 PM JonasBlazin <notifications@github.com>
wrote:

[2020-06-03 12:35] methot-ilya-3ds opened #1241 "Selecting Specific Frames in an Animation"
Other GLTF viewers include a means of stepping through an animation's frames.

Is there a way to start/stop an animation on a specific frame?

My hope is to connect the animation frame to HTML scrolling in order to progress an animation as a user scrolls down the page.

[2020-06-04 09:29] ajth789 opened #1243 "Is there a way to add buttons to be able to switch materials/colours on the model?"
Looking to add a few buttons to the model viewer so a user can select a color and see the model change in real time.

How would I best approach this? I can't find a reference to this use case in the documentation.

[2020-06-04 12:43] soraryu commented on #1017
Quick update: just got a notification that the bug is fixed in Chrome, so hopefully at some point in the future this will work properly.

https://bugs.chromium.org/p/chromium/issues/detail?id=1051609#c4
https://chromium.googlesource.com/chromium/src.git/+/e4e00438348f37dd35349aeb084564eee2e53502

[2020-06-04 13:55] nick-sp opened #1244 "Exported gltf from three.js only showing in AR, not in 3D"
I exported a model in gltf via three.js and put it in a website using model-viewer.

The model is not showing up in 3D (nothing appears) regardless of device / browser, but when visiting from mobile the AR mode works just fine.

The model also loads normally on the scene-viewer-preview.

Does anyone have a suggestion on what might be happening?
Thank you

[2020-06-04 17:02] milesgreen commented on #1225
Further to the above, this link shows an example of three.js rendering a screenshot to a file using toBlob:

https://threejsfundamentals.org/threejs/lessons/threejs-tips.html

This example does work on the above browsers in which ModelViewer fails to render a poster.

I don't know if it's anything to do with the WebGL canvas drawing buffer getting automatically cleared, as mentioned in this articl

[2020-06-04 18:38] somepablo commented on #1244
For me it's just the opposite. I can see models in the 3D view, but not in AR from any android phone.

When loading the AR view, an error message appears: "Couldn't load object".

Android log prints it cannot find the GLB file because server returns a 404. Looking at the URL it seems that's because it is stripping all query string params put on the "src" url of the model-viewer.

This is happening

[2020-06-04 20:38] jalamprea commented on #553
I'm using model-viewer 0.10.0 and I can't listen to those events, even using this simple code:
[code]
are you sure that events are working?

[2020-06-05 00:36] sun765 opened #1246 "update metric in fidelity test"
### Description
We are trying to improve the metrics presented in fidelity test in the following ways:
1. When computing metrics pixel by by pixel, pixels of background are not distinguished from pixels of rendered object. Therefore, applying some techniques of detecting background may give us more accurate metrics.
2. Instead of averaging the sum of difference between pixels, it may be useful to

[2020-06-05 00:45] sun765 opened #1247 "Integrate Babylon.js into fidelity test's renderer page"
### Description

So far, we are comparing fidelity of model-viewer and filament in our fidelity test tool. We want to integrate the babylon.js as well.  The first step is to create a renderer page for babylon.js and make sure it renders correctly in that page.

[2020-06-05 22:50] #1207 closed

[2020-06-05 23:25] #567 closed

[2020-06-06 12:22] ybinstock commented on #693
I'm having the same error as seen above.

Here is the demo link - https://ybinstock.github.io/dailySculptureAR/
Here is my code - https://github.com/ybinstock/dailySculptureAR/tree/gh-pages

I'm using https://unpkg.com/@google/model-viewer/dist/model-viewer.js

I'm on Android S7.

[2020-06-08 10:40] DanielRuf opened #1253 "icons not displayed in Firefox on Ubuntu"
### Description

Currently the feature matrix is not correctly shown in Firefox on Ubuntu

#### Live Demo
![grafik](https://user-images.githubusercontent.com/827205/84021548-1e297780-a985-11ea-81e7-69936b6328a5.png)

### Browser Affected

- [ ] Chrome
- [ ] Edge
- [x] Firefox
- [ ] Helios
- [ ] IE
- [ ] Safari

### OS

- [ ] Android
- [ ] iOS
- [x] Linux
- [ ] MacOS
- [ ] Windows

### Versions

-

[2020-06-08 15:38] elalish commented on #1240
Yes, by specifying the min/max camera orbit. `minCameraOrbit` has `theta, phi, radius`, where theta is around the vertical axis and phi is elevation. If you set min and max phi to the same value, then the user can't move it in that axis anymore.

[2020-06-08 15:48] elalish commented on #1241
Yes, there is a `currentTime` property which can be set to seek the animation to the desired time. So long as you set that on each raf callback, I think you can accomplish what you're after. Please let me know if you have any trouble.

[2020-06-08 15:54] elalish commented on #1243
@cdata has just been building this functionality and it will be more complete in our upcoming release for v1.0. We haven't publicized this much yet since it is in progress, but you can see an example here: https://modelviewer.dev/examples/scene-graph.html

Any feedback you have for us would be much appreciated.

[2020-06-08 15:58] elalish commented on #1244
@nick-sp Can you remix our [Glitch](https://glitch.com/edit/#!/model-viewer) to demonstrate your problem? I'd be happy to take a look. Since model-viewer is built on three.js, if the three.js editor is making a file we don't like, it may be a three.js bug.

[2020-06-08 16:05] elalish commented on #1225
Thank you, I just noticed this actually got broken even on Chrome when I disabled OffscreenCanvas (which then uses the same render path as Firefox/Safari): #1249. I need to look into what's happening in that render path.

[2020-06-08 16:07] ajth789 commented on #1243
This is really helpful and the demo works well on my pixel 3.

Is there anything in the roadmap to be able to do the same with different
elements of the model? For wxple, changing the helmet, shoes, etc.

Cheers
Ash

On Mon, 8 Jun 2020, 17:55 Emmett Lalish, <notifications@github.com> wrote:

[2020-06-08 18:10] nick-sp commented on #1172
How can one use the latest model-viewer on a website?

Do you have to change something in these lines?

`<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script><script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
`

[2020-06-08 18:26] elalish commented on #1172
@nick-sp that should work fine. You can test by navigating to that URL and see that it automatically forwards to the latest version: `model-viewer@0.10.0`. The problem with the example above was that they explicitly chose `model-viewer@0.6.0`.

[2020-06-08 18:27] elalish commented on #1172
@nick-sp Can you post a Glitch or codepen I can look at?

[2020-06-08 18:30] nick-sp commented on #1172
Thank you for the response. I'm trying to lock the rotation to the vertical axis using this:

I'm trying to lock the rotation on the vertical axis using this

min-camera-orbit='auto 0m auto'
max-camera-orbit='auto 0m auto'

But it doesn't work

[2020-06-08 18:31] #1225 closed

[2020-06-08 18:44] elalish commented on #1172
@nick-sp Ah, I think the problem is you're specifying and angle with meters. Try 'auto 75deg auto', since 75 is our default phi.

[2020-06-09 01:54] calin-ciobanu opened #1257 "Is there a Google Animals like model selection bottom slide available?"
I see this new functionality when viewing animals from Google Search:
![tempFileForShare_20200609-0942412](https://user-images.githubusercontent.com/5766012/84097422-217d3b80-aa37-11ea-9855-8407e053460b.jpg)

Is this / will be available in the scene-viewer / model viewer?
I see no reference yet looking at:
https://developers.google.com/ar/develop/java/scene-viewer#3d-or-ar

[2020-06-09 07:27] xzhub opened #1258 "Style of #button-load is missing"
in the demo3 of this post: https://modelviewer.dev/examples/lazy-loading.html, the style of #button-load was not in the description. It took me some time to find out why it does not work.

the current description is:
[code]
 this part is missing:
[code]

[2020-06-09 12:17] methot-ilya-3ds commented on #1238
I'll bump this as I think this is an important feature.

For example, I would like to have an animation includes camera movement. In some cases I could see an html scroll bar progressing the animation, or just a ui scrubbing bar.

Without access to the perspective of the camera with the embedded animation data it would make it much more difficult to orchestrate camera movement. I could see someone

[2020-06-09 12:32] methot-ilya-3ds commented on #1257
I've made something similar to the image that you are showing.

In my example I had the Google Model viewer on a separate page. I then included that page as an iframe and by using CSS design you can overlay buttons on top of the iframe.

The buttons can either change the object source of the widget, or, in my case I just created seperate webpages for each object and changed the individual iframe w

[2020-06-09 12:35] methot-ilya-3ds commented on #1241
This is working for me, modelViewer.currentTime seems to work just fine

[2020-06-09 15:10] elalish commented on #1238
@methot-ilya-3ds Thanks for the use case; that makes sense. Reading the [spec](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#perspective), it seems this will work fine so long as aspectRatio is unspecified. In the event it is specified, is it better to ignore it and print a console warning, or use it and show a stretched render?

[2020-06-09 15:17] elalish commented on #1257
I have no idea if/when SceneViewer plans to make their carousel a public API - @tpsiaki? However, it is easy to construct one for model-viewer, as you can simply put extra HTML elements as children of the model-viewer element and use them to change the `src`. Using webXR for AR instead of SceneViewer (soon our default) allows any HTML customization to flow naturally into AR mode as well. I built o

[2020-06-09 15:19] methot-ilya-3ds commented on #1238
In my opinion by showing a stretched render it could cause confusion for users. If the display is stretched people might believe that the solution would be to resize the canvas rather than looking for the console error which explains the problem in more detail.

[2020-06-09 16:36] #819 closed

[2020-06-09 20:23] soraryu commented on #819
Has it ended up in a FAQ as @elalish had suggested? :)

[2020-06-09 20:24] soraryu commented on #1017
Seems this will release in Chrome 85, already in Canary.

[2020-06-09 20:25] soraryu commented on #1257
@elalish just to get that right, WebXR will not work for the foreseeable future on iOS until Apple finally decides to jump on the train?

[2020-06-09 22:16] elalish commented on #819
@hybridherbst No, we've decided to rely on Github's search capabilities for now to find these. But the official minified build will be published shortly!

[2020-06-09 22:30] elalish commented on #1257
@soraryu Indeed, and please feel free to tell apple how important webXR is to you! I've also seen things like [this](https://labs.mozilla.org/projects/webxr-viewer/) that look interesting.

[2020-06-09 22:31] elalish commented on #1257
You can now see my carousel [demo](https://modelviewer.dev/examples/webxr.html) on our dev pages, which will also be visible in AR on an Android device with the latest Chrome.

[2020-06-09 23:10] hybridherbst commented on #1257
Nice demo! Thank you very much!
Is scaling support for WebXR somewhere on the roadmap to 1.0?

[2020-06-09 23:41] elalish commented on #1257
@hybridherbst It has it already! I put scale="fixed" since these are shopping models, but maybe I should remove it. Or at least note it.

[2020-06-09 23:42] elalish commented on #1257
And 1.0 was just [released](https://github.com/google/model-viewer/releases/tag/v1.0.0)!

[2020-06-10 01:39] calin-ciobanu commented on #1257
thanks everyone and :tada: for the v1.0

[2020-06-10 02:09] Piflyer opened #1263 "How to get SceneViewer in Version 1.0.0?"
### Description
Version 1.0.0 doesn't show the typical AR container UI with an object blending other features. It was available on version 0.10.0 but not version 1.0.0.

### Browser Affected

- [X] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [ ] Safari

### OS

- [X] Android
- [ ] iOS
- [ ] Linux
- [ ] MacOS
- [ ] Windows

### Versions

- model-viewer: v1.0.0

[2020-06-10 05:53] tehfonsi commented on #547
You can find the full documentation here: https://developers.google.com/ar/develop/java/scene-viewer#ar-only

[2020-06-10 08:58] lupohirp commented on #1263
are you using scene-viewer?

[2020-06-10 09:38] lupohirp commented on #1257
@elalish i have a question/ though.  I'm developing a react  js app, and your library works great.  Howerer, as you can said previuosly, WebXR are not supported by Apple ( damn......). BUT, maybe we can use [this](https://github.com/immersive-web/webxr-polyfill)? Maybe we can integrate in our project and give the support for the missing APIs from the polyfills instead of the browser, like it happe

[2020-06-10 09:42] hybridherbst commented on #1257
@lupohirp Polyfills still require a supporting underlying API. The problem is that Apple supports neither WebVR nor WebAR nor anything else what would give access to AR features to the browser at this point. They are offloading all the XR work to their QuickLook viewer (a native app).
(elalish correct me if I'm wrong please)

[2020-06-10 14:08] mesmaili151 opened #1265 "Zoom after page Scrolling and change default light"
Hi, i have 2 problem.
1 ) My model camera changes with this code after scroll:
camera-orbit="calc(-300rad + env(window-scroll-y) * -6rad) calc(80deg + env(window-scroll-y) * 0deg) calc(3m - env(window-scroll-y) * 1.5m)"
Now I want to zoom to the model with page scrolling and also change the camera view.

2 ) how can i change the models light?

thanks

[2020-06-10 16:31] #8 closed, assigned to frankiefu, smalls

[2020-06-10 23:18] elalish commented on #1238
@sun765 In addition to the use cases already outlined, this will allow us to clean up our render fidelity tests by using a camera in the models instead of defined in our config. 3D Commerce is already building their test models this way (which we will use) and I bet glTF would be happy if we updated their samples with cameras. We just need to consider how to expose the API.

[2020-06-10 23:28] #1263 closed

[2020-06-10 23:31] elalish commented on #309
I think the PBR test cases will come from the 3D Commerce group, once they make their samples available.

[2020-06-10 23:34] elalish commented on #308
I'm fine with leaving other renderers as an offline process. I think it's best to bump their versions only occasionally, and take a hard look at the results when we do. FYI @sun765

[2020-06-10 23:34] #308 closed

[2020-06-10 23:36] elalish commented on #306
I think this is more trouble than it's worth, especially as we migrate the goldens out of our repo. FYI @sun765

[2020-06-10 23:36] #306 closed

[2020-06-10 23:42] elalish commented on #690
@sun765 Not a high priority, but you have more experience with React that I do, so if you can make this work through either a PR or some documentation/example, that would be great.

[2020-06-10 23:51] elalish commented on #955
@pushmatrix No, if you use the same poster image and set `background-size: contain`, `background-repeat: no-repeat`, and `background-position: center`, it should work just fine.

[2020-06-10 23:58] elalish commented on #1096
Fixed by #1245

[2020-06-10 23:58] #1096 closed

[2020-06-11 11:51] lupohirp opened #1267 "Overturned 3D model in NPM Package"
Hi,

i've updated the NPM package of model-viewer to 1.0.0 version, but unfortunately with this version i saw the 3D Model overturned,

![image](https://user-images.githubusercontent.com/1065547/84382034-4e258480-abea-11ea-8451-5d3ec7dfd5f5.png).

With 0.10.0 i saw the model correctly. I'm using latest Chrome ( 83.0.4103.97 ).

How can i fix it ?

[2020-06-11 12:22] Jibin-John opened #1268 "Plane detection is not working and model is opening immediately after camera turn on."
### Description

Please provide a detailed description of the bug, how to reproduce it, and the
expected behavior.  Always include a code snippet, screenshot, any errors
reported in the console, and the model to help us understand and fix the
problem.

#### Live Demo

https://glitch.com/edit/#!/model-viewer

### Browser Affected

- [ ] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [ ] Sa

[2020-06-11 14:01] hybridherbst opened #1269 "Declining WebXR permission request freezes page"
### Description

In the new WebXR flow users are asked for permission to use the camera for AR purposes. Declining that request, however, freezes the entire page instead of letting the user continue exploring the page and trying again at a later point.
Once the permission is declined, it seems after refreshing the page, clicking the "AR" button freezes immediately (without asking again).

#### Liv

[2020-06-11 14:08] hybridherbst opened #1270 "Regression: with WebXR now the default, it should be on par with SceneViewer"
### Description

Since WebXR is now the default ar-mode, I think the functionality needs to be at least on par to the previous behaviour.

1. **2-finger rotation on the model does not work.**
  It works outside the model, with one finger only, while SceneViewer behaviour allows rotation with two fingers, which is crucial for larger models.
1. **no built-in way nor demo to show a similar label + li

[2020-06-11 14:30] lupohirp opened #1271 "PWA Cannot open webxr AR"
Cannot open webxr AR from PWA.

The error is the follow :

![image](https://user-images.githubusercontent.com/1065547/84398978-e3337800-ac00-11ea-8883-2cb33d948d05.png)

### Browser Affected

- [x] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [ ] Safari

### OS

- [x] Android
- [ ] iOS
- [ ] Linux
- [ ] MacOS
- [ ] Windows

- model-viewer: v1.0.0

[2020-06-11 15:44] elalish commented on #1270
Thank you for the feedback.

1) Yes, I hadn't prioritized it because I found two-finger rotation in SceneViewer a bit awkward and not discoverable. But yes, the goal is parity.
2) Agreed, I plan to make a demo for this. Not sure about making it automatic; I'd certainly welcome a PR along those lines.
3) I've actually been hounding my webXR colleagues about this for more than a month now. We are ac

[2020-06-11 16:39] elalish commented on #1267
@lupohirp We just fixed this bug for ChromeOS, but it looks like it may be a broader problem. Can you tell me what device or devices you are seeing this on? This may require a quick point release.

[2020-06-11 16:42] elalish commented on #1268
@Jibin-John Can you please provide a detailed description of the bug? It sounds like you may just be seeing a difference between SceneViewer and WebXR, as webXR now shows the model immediately, but only places it on the floor once the floor plane is found. You can return to the old behavior with `ar-modes="scene-viewer webxr quick-look"`.

[2020-06-11 16:43] elalish commented on #1269
@hybridherbst Thank you! I'll look into whether this is a model-viewer or webxr bug and get it fixed in either case.

[2020-06-11 16:46] elalish commented on #1271
@lupohirp Interesting, can you give us some more details? If you can remix our [Glitch](https://glitch.com/edit/#!/model-viewer) so that we can reproduce, that would be ideal.

[2020-06-11 19:32] lupohirp commented on #1271
i've requested to join project....i cannot edit your glitch :(

[2020-06-11 21:36] hybridherbst commented on #1270
Thanks for replying! Good to know you're onto these.

The two-finger rotation is really important, currently WebXR in that sense doesn't take advantage of already learned user behaviour from touchscreens (a lot of our usecases involve being close to a model and still being able to rotate it, like architectural miniature models).

Just to clarify, I'm super happy that WebXR now works! Currently it

[2020-06-11 22:04] elalish commented on #1271
Sorry, you just have to create a free account. Then click remix and you’ll
get your own copy.

On Thu, Jun 11, 2020 at 12:32 PM Pasquale Lodise <notifications@github.com>
wrote:

[2020-06-11 22:15] jalamprea commented on #969
I'm running the same problem and I'm not using that Zone file... I just have Angular 8.2.14 and trying to load model-viewer 1.0.0
The error only appear in the console of Firefox, but the issue is on all browsers... for instance, in Chrome there are no errors on console, but the model is not show :(
Check this [temp site](https://us1connected-stories.hypertvx.com/fe5/6a88e775-7a2f-451f-850d-4e57125

[2020-06-11 23:41] smalls commented on #969
Could you spin up a glitch (or stackblitz or even a little git repo) with a minimal repro for this? We need to be able to run & debug a project in order to dig into the issue.

[2020-06-12 05:10] mr339 opened #1272 "Some models not being loaded in quicklook"
### Description
 I've started getting this issue where some models don't load on quicklook with a message saying "Object requires a new version of IOS" even though the device has the latest version available i.e 13.5.1.It's working fine on android devices,
- [10] Android
- [83.0.4103.101 ] Chrome

This issue didn't occur until the newest version of model viewer was released or it did exist in v0.1

[2020-06-12 07:33] lupohirp commented on #1271
Sorry @elalish , never used Glitch because here in Italy i cannot see the preview, only the code, even if i use Google DNSs. Howewer this is the remix edited : https://glitch.com/edit/#!/join/44f27629-1dcd-4db0-991f-26fb68534c24. Should work, i cannot test for the motive that i said before. Honestly i think that it's not completely your problem. PWAs (correct me if i'm wrong ) uses Android webview

[2020-06-12 08:25] mesmaili151 commented on #1265
@elalish
yes, thanks, but can you send me one example of field of view?

2. so have i to use another image for light?

[2020-06-12 11:33] piyushaggarwal02 opened #1273 "Customizing 3D models"
Is there any way to customize the 3D model on browser or in AR via model-viewer?

My use case includes that I have to give the user an option to change model's textures on the browser and in AR via some button click event. So, is this possible in webxr supported browsers? (as I suppose Google's scene viewer & Apple's AR do not provide options to customize your 3D model)

And if not possible, is th

[2020-06-12 11:56] karanganesan commented on #1273
Yes @piyushaggarwal02 take a look at 3DOM :)
https://github.com/google/model-viewer/tree/master/packages/3dom

Yes

[2020-06-12 15:50] nick-sp opened #1274 "Customise & match lighting conditions to the ones from Poly"
I''m trying to host some models on my website, the same ones I was hosting on Poly before.
The problem is that the lighting conditions and appearance are very different, as you can see in the screenshots (1st photo is hosting from Poly / 2nd photo is self-hosting on website).

When hosting directly on my site the model texture becomes glossy and the lighting changes as well. I tried using a skybox

[2020-06-12 15:54] elalish commented on #1265
@mesmaili151 You could try `field-of-view="calc(45deg - env(window-scroll-y) * 20deg)"`. And yes, lighting in model-viewer is specified by an image (preferably HDR), except the default light which is generated at runtime.

[2020-06-12 16:57] elalish commented on #1271
@lupohirp Sorry, I didn't realize Glitch was [broken](https://support.glitch.com/t/cant-view-project-previews-glitch-me-domain-cant-be-resolved-in-italy-host-not-found/15224) in Italy. Perhaps you could try Stackblitz instead? In any case, your Glitch is working perfectly for me. I don't believe there's any requirement between PWAs and webviews; in general PWAs simply load in your browser when you

[2020-06-12 17:19] elalish commented on #1243
We're definitely interested in this, but with limited resources it may be awhile before we can build it. If you're interested in contributing, I'd be happy to walk you through how we see this fitting into our API and architecture.

[2020-06-12 17:31] lupohirp commented on #1271
cannot connect unfortunately.....even with cloudflare DNS. So with my example in PWA it works? maybe it's a problem by my side?

[2020-06-12 19:17] pushmatrix commented on #1095
That's too bad that scene viewer removed query params in the intent.

We were relying on this for https://size.link, where our api for generating a box of any size was https://size.link/box.gltf?w=1&h=2&l=3&units=cm

It works for model viewer, but then if you try to view in AR, the dimensions get stripped :(

So we had to change our api to be

https://size.link/1/2/3/cm/box.gltf

[2020-06-12 21:08] elalish commented on #1095
@pushmatrix If I understand you correctly, model-viewer is passing the URL including your query parameters to the SceneViewer intent, but SceneViewer is stripping them and therefore failing to load your model URL? @tpsiaki would you consider this a SceneViewer bug?

[2020-06-12 22:02] elalish commented on #1274
@nick-sp Can you post links to these examples? That would give me a much better chance of understanding what's wrong.

[2020-06-12 23:47] elalish commented on #1272
There's no connection between Android and iOS in this case, since they use different models (glTF for Android/web, and usdz for iOS). So it can only be a problem with the usdz model; perhaps it needs to be reconverted?

[2020-06-12 23:53] elalish commented on #1273
@piyushaggarwal02 Indeed, that functionality has just recently landed and is still beta, but please give it a try and give us feedback. We plan to expand this functionality going forward.

[2020-06-13 00:50] XcomReborn opened #1276 "How do I change the canvas size and position?"
I tried the minimal html example to display a glb model.

And it works but it is always 300x150 px canvas size.

Can you give an example of how to change the size and position of the canvas.

I wanted to expand the canvas to fill the browser window but my css style doesn't appear to override it.

My current html ---
`
[code]
`

[2020-06-13 01:24] XcomReborn commented on #1276
I solved it by using:

[code]

is this the suggested technique for it? Might be worth adding that to the tutorial or at least explaining why the canvas defaults to 300x150 px and how to override it.

[2020-06-13 02:09] pushmatrix commented on #1095
@elalish Correct. Check this glitch out: https://brave-closed-scarecrow.glitch.me/

Model-viewer shows the correct box, but when you go to view it in scene-viewer all sides have the same dimension.

[2020-06-13 02:09] pushmatrix commented on #1095
<img width="391" alt="Screen Shot 2020-06-12 at 10 09 16 PM" src="https://user-images.githubusercontent.com/190692/84557460-67692680-acf9-11ea-8d33-54bd208d4446.png">

<img width="403" alt="Screen Shot 2020-06-12 at 10 09 22 PM" src="https://user-images.githubusercontent.com/190692/84557462-69cb8080-acf9-11ea-8550-6dc166fc307d.png">

[2020-06-15 04:47] piyushaggarwal02 commented on #1273
Sure. I will give it a try and share the feedback. Thanks

[2020-06-15 04:50] piyushaggarwal02 opened #1277 "Use AR functionality of model viewer"
I want to view a 3D model in AR using model-viewer. But, I do not want to show my 3D model or any poster on the browser using model viewer.

I will be customizing my 3D model on the browser using Babylon.js natively (as I had earlier started with this approach) and then I want to show the customized 3D model in AR. There will be just a button, and on clicking this button, a 3D model  should be vis

[2020-06-15 06:57] Jibin-John opened #1278 "Model viewer vs Aframe AR.js"
### Description

Please provide a detailed description of the bug, how to reproduce it, and the
expected behavior.  Always include a code snippet, screenshot, any errors
reported in the console, and the model to help us understand and fix the
problem.

#### Live Demo

https://glitch.com/edit/#!/model-viewer

### Browser Affected

- [ ] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [ ] Sa

[2020-06-15 06:58] mesmaili151 commented on #1265
@elalish thanks, but it doesn't work.

[2020-06-15 07:57] mesmaili151 commented on #1276
Hi, you can also use this code in your mode-viewer tag or set a ID / CLASS to your 3dmodel :

[code]

or:

[code]

[2020-06-15 08:13] mesmaili151 opened #1279 "Play Animation with scrolling"
Hi, i want to create a long animation with Blender for my website and i want to play that with scrolling.
in this Animation, i have images and text and i have to hide/show images and test with scrolling.
its possible with model viewer?

[2020-06-15 09:16] mesmaili151 opened #1280 "set limit to rotate"
Hi,
i have a animation thats starts with scrolling.
`camera-orbit="calc(-300rad + env(window-scroll-y) * -6rad)   calc(80deg + env(window-scroll-y) * 0deg) calc(3m - env(window-scroll-y) * 1.5m)"
`
How can i set a limit for rotating the animation with scrolling?
i mean i want to rotate the animation with scroll just for 20deg and after that the animation stops.

[2020-06-15 15:53] elalish commented on #1277
Interesting; that's not really a use case we had in mind, but it should be possible. You could simply make a small model-viewer element and then make a [custom](https://modelviewer.dev/examples/customizing-ui.html) AR button that completely covers it. The 3D model would still load and render in the background, but it'll only render once if it's not being interacted with, and the shader compilation

[2020-06-15 15:56] elalish commented on #1278
@Jibin-John This is the second bug you've left here with no description at all; is Github not saving your edits or something? If you can leave a description of what you're asking, I'd be happy to respond.

[2020-06-15 15:58] elalish commented on #1265
@mesmaili151 Can you post a Glitch of what you've tried and what about it doesn't work? That'll give me a much better chance of helping.

[2020-06-15 16:02] elalish commented on #1276
@XcomReborn Yes, that's right and there are many other approaches as well. CSS is pretty flexible and the web-component approach to model-viewer is designed to make this work just like any other DOM element.

[2020-06-15 16:06] elalish commented on #1279
Yes, I believe so; look at #1241. Hiding and showing other text and images will be done through regular DOM, unrelated to model-viewer, though they can be child elements of model-viewer if desired.

[2020-06-15 16:08] elalish commented on #1280
Have you tried setting `minCameraOrbit` and `maxCameraOrbit`?

[2020-06-15 16:40] elalish commented on #1267
@lupohirp I would really like to ensure this is fixed; can you tell me what device you see this on? It might also help to see your `navigator.userAgent` string.

[2020-06-15 17:03] sun765 opened #1281 "Not able to detect object when computing fidelity metrics"
### Description

When comparing renderers, we simply compute the difference of all pixels, including pixels of background. The result can be more accurate if we only compute difference of pixels in the objects.  Therefore, we have to find a way to detect the object pixels.

[2020-06-15 17:21] sun765 opened #1282 "Reduce repo's package size"
### Description

The size of current repo is really large and it will become larger and larger. The reason is that the golden pictures are contained in every commits. This is not scalable because we will definitely add more commits. Besides, we are also integrating more renderers which means more golden pictures. One possible solution is to make a separate package just for golden pictures and user

[2020-06-15 17:32] sun765 opened #1283 "Explanation is needed in fidelity test page"
### Description

Here is a screenshot of fidelity test page. Although I understand how does this work now, it's a little confusing for me at first. It would be helpful if there are more information about how to use this fidelity test tool, what does the four pictures mean, and how the difference is calculated (which is actually quite complicated).
![Screenshot 2020-06-15 at 1 26 23 PM](https://use

[2020-06-15 17:46] sun765 opened #1284 "fidelity test metrics is not shown in fidelity page"
### Description
We did compute some metrics to compare the fidelity of different renderers in fidelity test. However, you have to run the fidelity test locally to see the metrics. In order to make it more convenient for users to see the it, we are going to include it in the fidelity test page.

[2020-06-15 19:27] mesmaili151 commented on #1265
@elalish thanks, I told its worked for me.

[2020-06-15 20:02] blairmacintyre opened #1285 "make sure the initial hit test angle is within the display field of view."
https://github.com/google/model-viewer/blob/05e630c2994ad9698c75ef36d0d70fe12cdd1ed4/packages/model-viewer/src/three-components/ARRenderer.ts#L38

This line is fixed, and 20 degrees downward is probably ok on most phones in portrait mode (as the comments say).  But some devices (e.g., iOS, using ARKit) can't hit test if the ray is offscreen.  This will be an issue if Apple releases WebXR;  current

[2020-06-16 06:58] mesmaili151 commented on #1280
yes, i tried
[code]
but i think when we want to play animation with scroll, this function doesn't work !

[2020-06-16 07:07] mesmaili151 commented on #1241
@methot-ilya-3ds Hi, can you share your project code?

[2020-06-16 08:34] christianpugger opened #1286 "SceneViewer doesn't work on chrome with android"
AR doesn't work on chrome neither with android, just me?

if I insert the code on wordpress I have this problem, even on the html page, while on Wix it works, how come?

[2020-06-16 12:22] methot-ilya-3ds commented on #1241
@mesmaili151 Sure, here is the script I used along with the model viewer. I have not progressed the project as of yet as I am still awaiting the addition of animated cameras.

`
<model-viewer onload="StartScroll()" id="car_crash" shadow-intensity="1" autoplay shadow-softness="1" preload currentTime="0" skybox-image= "Images/darkMirror.hdr"  poster="Images/loading.gif" src="Example/Source" alt="An

[2020-06-16 12:27] methot-ilya-3ds commented on #1241
@mesmaili151 Sure, here is the script I used along with the model viewer. I have not progressed the project as of yet as I am still awaiting the addition of animated cameras.

[code]

[2020-06-16 12:38] methot-ilya-3ds commented on #1280
I believe this could be solved with a simple 'if' statement:

<model-viewer onload="StartScroll()" id="Rotateable_OBJ" shadow-intensity="1" autoplay shadow-softness="1" preload currentTime="0"">
<script>
   function Rotate_Object() {
             const modelViewer = document.querySelector('#Rotateable_OBJ');
             var Rotation = calc(-300rad + window-scroll-y) * -6rad) calc(80deg + (window-

[2020-06-16 12:43] methot-ilya-3ds commented on #1280
The following page has an example of how to interpolate between the two rotations you desire

[https://stackoverflow.com/questions/11849654/interpolate-or-tween-between-two-values-but-not-animating](url)

[2020-06-16 14:57] elalish commented on #1286
Good question; can you post links here where it does and doesn't work? I'd be happy to take a look. Also, does the javascript console show any interesting errors or warnings? A possible issue is not having the proper CORS headers on the glTF.

[2020-06-16 15:00] elalish commented on #1241
@methot-ilya-3ds While you're waiting for us to add support for glTF cameras, keep in mind that we still perform camera interpolation even when `camera-controls` is off, so you can set `camera-orbit` and `camera-target` in time with your animation to get pretty smooth camera motion.

[2020-06-16 15:09] elalish commented on #1280
@mesmaili151 If you are animating theta, phi and radius and you want the animation to stop before the scroll gets to 1, then you'll need to limit all three to the values your calc statements give when page scroll is at the value you want the animation to stop at. It'll be something along the lines of `max-camera-orbit="20deg 10deg 30m"`. You'll also want to evaluate your calc statements at scroll=

[2020-06-16 16:11] #1269 closed

[2020-06-17 07:56] 186dk opened #1289 "Is possible to look inside of model when the camera zoom in?"

[2020-06-17 11:28] IvanNov7 opened #1291 "FullScreen Icon for window"
Hi everyone,
I want to add full screen trigger option on model-viewer.
Some small icon that will make the iframe or whole windows fullscreen mode on desktop and mobile.
Is there any option for this right now?
Thank you

[2020-06-17 13:21] lupohirp commented on #1271
HI @elalish as i suspected, it was a Chrome problem. With Chrome beta, it works well. Tnx anyway for the support. I close the issue

[2020-06-17 13:21] #1271 closed

[2020-06-17 15:03] methot-ilya-3ds commented on #1241
I've been successful with using the same technique for scroll interpolation and animation interpolation using the following code for both:

[code]

[2020-06-17 15:10] elalish commented on #1289
Actually we worked hard to ensure that would not happen, but if you set the radius of `minCameraOrbit` to less than what we calculate for `auto`, then this becomes possible.

[2020-06-17 15:23] elalish commented on #1291
There is a generic [fullscreen API](https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API) on the web, which I believe should work the same way for model-viewer as for any other DOM element. We don't build in any special affordance.

[2020-06-17 15:25] elalish commented on #1270
@hybridherbst Can you describe what you mean by onboarding?

[2020-06-17 15:37] elalish commented on #1241
@methot-ilya-3ds Agreed, and thank you for sharing your work-around. I'm sure others will also find it useful. Also, if you don't have any more than these two keyframes, you can also use the `calc(env(window-scroll-y))` approach as discussed in #1265.

[2020-06-17 18:29] methot-ilya-3ds commented on #1241
I've encountered an odd bug with camera-Orbit:

Although I have been setting the camera-orbit distance and rotation:
 (0deg, **0-360deg**, **0 - 50m**)

there is no change at all to the camera distance or the camera angle when these values specifically change.

When changing the following values:
(**0-360deg**, 0deg, 0m)
the camera moves laterally and orbits around the object.

This creates a prob

[2020-06-17 20:02] hybridherbst commented on #1270
Sure. If you reset the cache and data for "Google Play Services for AR" and click the AR button (if WebXR is off), you'll essentially see what 90% of our users see - Google's onboarding for AR when you use it for the first time.

E.g. this:
![Screenshot_2020-06-17-21-36-14-242_com google android googlequicksearchbox](https://user-images.githubusercontent.com/2693840/84944497-23ee2e00-b0e6-11ea-9ee

[2020-06-17 21:03] rkochman opened #1292 "Update copyright year on modelviewer.dev"
Modelviewer.dev pages currently display 2018 as the copyright date. It should instead show 2018-2020.

[2020-06-17 21:49] elalish commented on #1241
@methot-ilya-3ds I'm having a little trouble following exactly what the problem is; a Glitch would be helpful so I can see what you mean. You're welcome to remix our [official](https://model-viewer.glitch.me/) one from your own account.

[2020-06-17 21:54] elalish commented on #1270
Ah, thank you. We can't really put this in model-viewer because the images and text for all languages would destroy our binary size. It would be nice to have an HTML example, but we'd need to know it was someone's first time somehow. It's a good point and I'll talk to webXR about what we could do here.

[2020-06-17 21:56] hybridherbst commented on #1270
Understood, that's why I mentioned I also don't know how to solve it, but still feel it's a user experience regression from the "old" behaviour that doesn't exactly make this more approachable to people unfortunately.
Curious to hear what the WebXR team says about that!

[2020-06-17 21:56] elalish commented on #1292
Should the code headers also do that?

[2020-06-18 00:03] rkochman commented on #1292
Yes, the two years should be the initial year and the year of last
modification, I believe.

On Wed, Jun 17, 2020 at 2:56 PM Emmett Lalish <notifications@github.com>
wrote:

[2020-06-18 07:36] 186dk commented on #1289
I tried to set minCameraOrbit="-1000", but it didn't work. I have 3d house model, the model-viewer need to able to show both outside and inside of the house model. How can I achieve that? Thanks.

[2020-06-18 13:24] methot-ilya-3ds commented on #1241
I've uploaded my example to the [following page](https://zealous-shimmer-echinacea.glitch.me/)

In the example scrolling the page will change ALL the values of the camera-orbit variable.

[2020-06-18 15:33] elalish commented on #1289
@186dk If you look at the format of `minCameraOrbit` on [modelviewer.dev](https://modelviewer.dev/), you'll see that the format is `"theta phi radius"` and that each needs units. You could try `"auto auto 0m"`.

[2020-06-18 15:51] elalish commented on #1241
@methot-ilya-3ds Thank you! A couple things; first it's using v0.9 instead of v1.0. This was my fault; I just updated our Glitch example to remove the @version so that it will automatically pick the latest. Second, since you're setting the radius to the same value as the rotations, I believe it is being clamped to its min/max since meters and degrees tend to be at different scale. You may want to

[2020-06-18 16:00] sun765 opened #1295 "Using prefiltered HDR map instead of loading hdr directly"
### Description

Right now in fidelity test , babylonjs is loading hdr directly and the performance is not very good. Therefore it should use prefiltered HDR map instead just as filament did. This will reduce the time for running fidelity test.

[2020-06-18 16:07] sun765 opened #1296 "Include babylonjs in fidelity test page"
### Description

Since babylonjs's renderer's page is basically set up, next step would be to include it in fidelity test page. It's much easier to see if the scenarios have been set up correctly when filament's and model-viewer's goldens are aside.

[2020-06-18 16:16] sun765 opened #1297 "HDR's configuration is not correct in babylonjs's renderer page"
### Description

In some scenarios, the HDR map looks wired. I think the problem is when loading HDR map the configuration is not set correctly. I should look into how other renderer setup hdr map and fix this problem
![Screenshot 2020-06-18 at 12 11 27 PM](https://user-images.githubusercontent.com/44676379/85045360-dc56b900-b15c-11ea-863e-679a72ad5f00.png)

[2020-06-18 16:23] elalish commented on #1297
@sun765 Could you include a golden image to compare here, to make it clearer what you mean by "weird"? Having done this before for Filament I may be able to give you some hints.

[2020-06-18 16:57] methot-ilya-3ds commented on #1241
@elalish Thank you for your assistance with this problem.

All my changes to original code can be found in the Glitch link I have provided above.

I experimented with the min/max CameraOrbit settings. Changing the maxCameraOrbit settings will change the **initial** camera settings, but further changes to phi and radius through code have no apparent effect.

In the example I added a separate keyfra

[2020-06-18 17:27] elalish commented on #1297
@sun765 It looks like the environment is rotated by 90 or 180 degrees relative to the model (which is common because standards in this space are sparse). See if Babylon has a configuration for the environment orientation. If not, then rotate the model and camera to compensate.

I would bet that 128 means a 128x128 cubemap size. We use 256 and that's what our environments are sized for, so try 256

[2020-06-18 18:51] elalish commented on #1241
@methot-ilya-3ds This is a really cool example of advanced functionality. I like it especially because I'm an aerospace engineer and I did a bunch of CFD visualization earlier in my career. Definitely the highest and best use of glTF - how did you export it?

This may be a crazy idea, but would you be willing to submit a PR adding an example like this to our dev pages? If that model or something s

[2020-06-18 19:26] methot-ilya-3ds commented on #1241
There would need to be some talk with my team before I can confirm that this is possible.

Let's talk further about the logistics of your proposal over email. I found your twitter account linked to your thingiverse page. I've followed you on Twitter and we can exchange emails there. My handle is @Methotilya

[2020-06-19 06:30] takarka opened #1300 "Angular 9: Module not found: Error: Can't resolve '@google/model-viewer'"
### Description

I can not use <model-viewer> web component in Angular 9; I did everything that shows them [there ](https://vaadin.com/learn/tutorials/using-web-components-in-angular)

[2020-06-19 07:25] mesmaili151 commented on #1241
@methot-ilya-3ds thanks for sharing your project,
I have same problem with
[code]

and how you exported the 3dmodel?! its really cool

[2020-06-19 07:40] mesmaili151 commented on #1241
@methot-ilya-3ds
try this code:
[code]

[2020-06-19 12:15] methot-ilya-3ds commented on #1241
@mesmaili151 Thank you very much! Your code helped me realize that my syntax was wrong the whole time. .cameraOrbit does not expect commas in between its values and as a result it was only able to interpret the phi value but not the radius or theta!

As for the model, my company works a lot with mechanical simulations and these are a few results which are available to the public. I use Blender for

[2020-06-19 15:25] elalish commented on #1300
We had a similar report in #969. Could you remix our [Glitch](https://model-viewer.glitch.me/) to demonstrate the trouble, or point us to some other link that we can debug?

[2020-06-19 22:08] elalish commented on #1220
@mqg734 I repro'ed the issue and this is definitely a bug. Sorry about not testing my first fix thoroughly enough.

[2020-06-20 17:07] p-saurer opened #1303 "gltf rendering "chrome/metal" like instead of dark green"
### Description

Hi! For some reason, a pretty simple gltf model, which should actually show up in some kind of green, appears to render with some strange materials. I am quite new to model-viewer and threeJS, I used some wordpress plugins before and the online gltf viewer (https://gltf-viewer.donmccurdy.com/) to view the model where it shows up as it should. Only when I embed it with <model-viewe

[2020-06-20 17:42] jcguarinpenaranda commented on #210
Hello, I've seen this has been opened for a while. May I help with something?

[2020-06-20 18:05] 79pxls commented on #1160
Hi! Thank you for all you do with Model Viewer :)

Please can you help me with your above code?
I have the animation working on click but its looping. Is there a way for it to only play once then stop? Then if the hotspot was clicked again it would just replay the animation?

Thank you!!

[2020-06-20 18:57] reubenkib opened #1304 "Focus Ring & Responsiveness"
I'd imagine these fixes are simple, but I'm having trouble resolving them.

1. On desktop, when interacting with model-viewer, a blue border appears (focus ring). On other sites that use model-viewer, I noticed that they don't have this which is what I am trying to achieve. Is there a way to disable this but also comply with user accessibility so when the keyboard is being used, it will appear onl

[2020-06-20 22:41] mpulock opened #1305 "Change the camera Y position"
Hi,

I have been playing with model-viewer for while.
 I have been facing one issue. I've searched through the documentation, but was unable to find it. When, I import a character model, the camera focuses on the crotch area :)

I've tried changing the 'camera-orbit' attribute, and I know If increase the distance value, that'll zoom out the model. But, I like the current distance, just want the ca

[2020-06-21 02:32] elalish commented on #1305
Yes, you’re looking for the camera-target attribute. It takes x , y, and z.

On Sat, Jun 20, 2020 at 3:41 PM mpulock <notifications@github.com> wrote:

[2020-06-21 07:19] reubenkib commented on #1304
I was able to sort out the responsiveness, it was an error on my end.

I still can't manage to get rid of the focus ring on the mouse but still useable on keyboard. I looked at focus-visible documents and added the script then added the CSS - still nothing as the focus ring is always appearing.

[2020-06-21 07:26] reubenkib commented on #1304
Both issue resolved. It was an error on my end.

[2020-06-21 07:26] #1304 closed

[2020-06-21 14:38] p-saurer commented on #1303
Hi! My colleague prepared some other GLTF now, probably it was some issue with the materials which were not supported. I will close this issue - seems it was related to the glTF itself - sorry!

[2020-06-21 14:38] #1303 closed

[2020-06-21 16:20] lupohirp commented on #1300
can you import this?

import '@google/model-viewer/dist/model-viewer';

[2020-06-21 19:08] 79pxls commented on #1160
Also...is there a way to add multiple hotspots to trigger multiple animations?
I can't find any documentation on this anywhere.

Cheers!

[2020-06-21 19:57] mpulock commented on #1305
Thanks, Emmett! Keep up the awesome work!

[2020-06-21 19:57] #1305 closed

[2020-06-21 20:30] mpulock opened #1306 "Content placement changes in Edge browser"
Hi,

I have used model-viewer in my website. It looks really good in Google Chrome. But, when, i open it in Edge, there is an yellow progress bar in middle, which doesn't disappear when the model is loaded. And, the Grid container is supposed to cover the whole page, but it doesn't. Not sure what am i doing wrong.

Website link: https://www.maheencg.com/

Hope you can help me with the issue.

Rega

[2020-06-22 15:23] elalish commented on #1160
@Arumugamhns We now have a model-switching [example](https://modelviewer.dev/examples/webxr.html).

@79pxls You can find examples of switching between multiple animations [here](https://modelviewer.dev/examples/animation.html). We don't currently support non-looping animations, but that feature has been requested. For now, you'll just need to watch `currentTime` and call `pause()` when it gets to

[2020-06-22 15:29] elalish commented on #1306
@mpulock Thank you, this prompted me to install Edge, which I hadn't even realized was available on macOS. Anyway, your site loads just fine for me and looks the same as with Chrome, which makes sense since they are both Chromium-based browsers. Can you give me some details on your OS and GPU?

[2020-06-22 15:49] elalish commented on #210
@jcguarinpenaranda Absolutely! Contributions are very welcome, and this should be reasonably doable given that three.js already supports it: https://threejs.org/examples/webgl_postprocessing_unreal_bloom.html

We'll want it to be off by default since it has render cost. What kind of parameterization are you considering?

[2020-06-22 15:53] 79pxls commented on #1160
Thanks for the reply!

So just to confirm...I can call specific animations by name, then pause, then fire another animation on click, and so on?

Does the `currentTime` go by seconds or frames?

Many thanks.

[2020-06-22 17:14] mpulock commented on #1306
@elalish Thanks for  the reply. I am in Windows 10 Version 1909. My GPU is Nvidia geforce rtx 2080 ti. Here is how the website looks like in Edge. Sorry, I don't own mac or ios device. So, am not sure, how is the performance in Safari. But, In Chrome and Firefox, the website loads pretty fast. You did some real magic there. :)

![Edge](https://user-images.githubusercontent.com/58793382/85315601-5c

[2020-06-22 17:45] elalish commented on #1306
@mpulock Well, I can say with confidence that yellow bar is not coming from model-viewer. I'm not sure what it is, but perhaps there's some interaction with something else on your site. As for lighthouse, our scores there are not great at the moment, though I'm very pleased you like our performance. They test slow bandwidth, so I'd guess you may be serving a large enough model that they time out b

[2020-06-22 17:47] elalish commented on #1160
@79pxls It goes by seconds. I don't believe glTF animations have a concept of frames, except for keyframes, which are not uniformly spaced.

[2020-06-22 18:01] 79pxls commented on #1160
Thanks for clarifying Elalish!

Is there any documentation on calling specific animation by name on click anywhere?
I read through the animation page you sent me but cant find anything.

Sorry for all the questions, coding is not my strong suit.

[2020-06-22 18:12] mpulock commented on #1306
@elalish I tried as much as I can to compress my model. But, it's still around 5mb. I haven't heard about DRACO compression. But, I'll definitely look into it. Thanks for the info.  I am not really much worried about Edge though. Who even uses it :)

My future requests for this Christmas would be:

1. Allow to Implement particles;
2. Allow to implement emission and transparent materials; (I wanted

[2020-06-22 19:12] djankooo opened #1308 "Is it possible to use try-on glasses on android like on iPhone using .reality? flag: question"

[2020-06-22 19:45] elalish commented on #1308
No, we don't support that currently. WebXR is talking about things like this, but it's unclear how that would fit into model-viewer's API.

[2020-06-22 22:12] #1306 closed

[2020-06-23 08:17] #1308 closed

[2020-06-23 16:54] elalish commented on #1292
@rkochman It appears the second year is optional: https://g3doc.corp.google.com/company/teams/opensource/copyright.md?cl=head#the-year
In light of this, do you mind if I skip this to avoid having to continually update them?

[2020-06-23 19:51] #1241 closed

[2020-06-23 21:11] #1297 closed

[2020-06-24 05:28] zeekrey opened #1310 "React: this[$prepare] is not a function"
### Description

When doing this:

[code]
And assign the `URL.createObjectURL(res)` as src, I get the following error:

[code]

Edit: I thought it could be a problem with the blob itself. So I assigned a static file reference to the src attribute but I still get the same error. :(

### Live Demo

https://codesandbox.io/s/webvr-stuff-rho5h?file=/src/App.js

### Browser Affected

- [x] Chrome
- [ ]

[2020-06-24 19:37] FrankHiguera commented on #1286
Hello, I wanted to share my experience and I think we have the same symptom.

I have tested the following two links with model-viewer using WebXR and SceneViwer, I have also downloaded the same demos from GITHUB and uploading them to my server the same thing happens (The launch AR button dont start the AR).

Links:

Using model-viewer:

Browsers version and device:

WebXR - AR button dont start th

[2020-06-24 23:01] elalish commented on #1286
@FrankHiguera Thank you for the details! We've managed to repro all of this on an S8+.

As a side note, modelviewer.dev serves the latest master, which is now ahead of 1.0.

[2020-06-25 08:46] tskaiste opened #1312 "Firefox slow zoom"
### Description

In the given model-viewer tester example, zoom in/out works very slowly when using Firefox browser.

#### Live Demo
https://modelviewer.dev/examples/tester.html

### Browser Affected

- [ ] Chrome
- [ ] Edge
- [x] Firefox
- [ ] Helios
- [ ] IE
- [ ] Safari

### OS

- [ ] Android
- [ ] iOS
- [ ] Linux
- [ ] MacOS
- [x] Windows

[2020-06-25 15:04] elalish commented on #1312
@tskaiste Interesting, it's working fine on my mac. Is this using a mouse scroll wheel or touchpad gesture?

[2020-06-25 15:07] methot-ilya-3ds commented on #1312
I have the same problem on my computer when using the trackpad scroll. The problem is not present in Chrome or Microsoft Edge.

Firefox Version: 68.9.0esr

[2020-06-25 15:11] elalish commented on #1312
@methot-ilya-3ds Hmm, that's pretty old; I'm on Firefox 77. Does it still repro on the latest? And is this also on Windows?

[2020-06-25 15:17] methot-ilya-3ds commented on #1312
@elalish I've updated to version 77.01 and the problem remains. I am on a windows machine.

There is one particular console error which is not present for the other browsers:

`WebGL warning: drawElementsInstanced: Drawing to a destination rect smaller than the viewport rect. (This warning will only be given once)  three.module.js:16389:5 `

[2020-06-25 15:29] elalish commented on #1312
@methot-ilya-3ds Thanks, that warning is interesting, but I bet it's a rounding issue and I think unrelated to scroll. Does the trackpad scroll page contents at the same rate in Chrome and Firefox on Windows? Unfortunately I don't have a Windows machine to repro on, so this won't be easy for me to diagnose. @sun765 Can you repro this?

[2020-06-25 15:31] methot-ilya-3ds commented on #1312
The contents zoom much faster on Chrome and Microsoft Edge than in Firefox. The Firefox scroll is perhaps 10% the speed of Chrome's.

[2020-06-25 15:43] tskaiste commented on #1312
@elalish I'm using mouse wheel, @methot-ilya-3ds is correct, the Firefox scroll is much slower than in Chrome, and you need to scroll for a good minute to zoom in fully on a model. I'm using Firefox version 77.0.1

[2020-06-25 20:41] #1286 closed

[2020-06-25 23:44] #1247 closed

[2020-06-26 13:14] pedrobergamini commented on #482
Are there any plans on implementing @cdata suggestion?

[2020-06-26 14:14] jozkr8 opened #1314 "addEventListener on iOS"
Apple added new capability with buttons and the implementation is via ID - but it doesn’t seem to work. I’ve had a look at the model-viewer.js where <a> is created dynamically and then with rel=ar and even managed to dynamically ad ID but it’s not working when calling it. Any wisdom on this plz?

document.getElementById("ar-link-3").addEventListener("message", function (event) {   
    if (event.d

[2020-06-26 15:21] elalish commented on #482
@pedrobergamini We don't really have the resources to do the declarative approach in the near term, though contributions would be welcome. I'm hoping we can get a JS API together first to add models to the scene.

[2020-06-26 15:31] elalish commented on #1314
@jozkr8 Interesting, I don't know anything about this new capability; can you point me to some documentation? It's a little hard for me to imagine how a webpage would be able to listen for an event from a native app like QuickLook.

[2020-06-26 17:26] jozkr8 commented on #1314
https://developer.apple.com/wwdc20/10604

https://developer.apple.com/augmented-reality/quick-look/ - if you scroll down you’ll find them :)

[2020-06-26 22:24] ozgurduygu commented on #912
I'm having issues with this as well. #704 sounds like a good idea, any plans implementing it soon?

[2020-06-26 22:30] elalish commented on #912
@ozgurduygu We're a bit shorthanded at the moment, but I'd be happy to review a PR if you'd like to contribute! See my link above on where you'll want to make the change.

[2020-06-27 04:19] rkochman commented on #1292
That's fine for the code, but can we update it on the homepage? It makes the content seem "fresher" IMO.

[2020-06-27 05:53] skabbit commented on #350
Apple's Quick Look gallery still uses model/usd, but WebKit manual suggests to use model/vnd.usdz+zip
And still, no documentation explains the proper way.

[2020-06-29 13:07] ZenDerDio opened #1316 "Changing textures on a model in model-viewer"
### Changing textures on a model in model-viewer

Hi, I have an issue with changing textures on model while using model-viewer v1.0.0, I am trying to solve this based on https://github.com/google/model-viewer/pull/1245 and 3DOM demo.

Model viewer with a script that should change texture:

    <model-viewer
      id="astronaut"
      camera-controls
      src="https://modelviewer.dev/shared-assets

[2020-06-29 17:11] elalish commented on #1310
Thanks for adding a demo; it looks like you're using React, which can be a little tricky with web components sometimes. I'd recommend looking through these issues, as there have been some helpful comments from users with more React experience than I have: https://github.com/google/model-viewer/issues?q=is%3Aissue+is%3Aopen+react

Have you verified that you can get a barebones model-viewer element

[2020-06-30 04:19] zeekrey commented on #1310
I read the other issues and seems like I got the same problem as https://github.com/google/model-viewer/issues/690#issuecomment-629552413

I've attached event listeners and received error events when the page loaded. But the event payload is empty:

`onError: {"isTrusted":false} `

[2020-06-30 09:32] hybridherbst opened #1318 "WebXR does not work from inside iFrame"
### Description

This is a follow-up to an earlier [discussion on Spectrum](https://spectrum.chat/model-viewer/general/does-modelviewer-work-in-an-iframe~136d8e1e-3339-4248-87e7-c9d8f4b9439a).

When using model-viewer inside an iFrame, WebXR mode just outputs a black screen. There's a brief split-second moment when a camera image is shown on a tiny slice of the screen, but afterwards it just turns

[2020-06-30 15:37] elalish commented on #1318
Thanks, I have a repro and some strange console errors; I'll look into it.
<img width="952" alt="Screen Shot 2020-06-30 at 8 35 39 AM" src="https://user-images.githubusercontent.com/1649964/86146247-d5a93980-baac-11ea-8996-2e7668e2b3c6.png">

[2020-06-30 21:07] #1220 closed

[2020-07-01 02:37] klausw commented on #1318
I'm still investigating, but it appears that the WebXR DOM Overlay feature doesn't currently work when used within an iframe. I filed https://bugs.chromium.org/p/chromium/issues/detail?id=1101193 to follow up on the Chrome side.

In the meantime, is there a way to disable use of DOM Overlay in model-viewer as a workaround?

[2020-07-01 13:06] SoundsLikeSuicide opened #1320 "is there anyway to embed the 3D-Model with a OneDrive URL?"
didn't solved it yet.

[2020-07-01 15:08] elalish commented on #1318
@klausw Ugh; I suppose I could try to detect when model-viewer is in an iframe and not enable dom-overlay, but it still means a large part of webXR's advantage is inconsistent. Any idea how long it'll take a Chrome fix to land?

[2020-07-01 15:20] elalish commented on #1320
Hmm, that's an interesting idea. Have you checked the JS console for errors? I'm guessing it's a problem with not having the right CORS headers set on the file being served. I'm not sure if there's a way to fix it, but I'll have a look.

[2020-07-01 16:17] #1295 closed

[2020-07-01 19:18] reubenkib opened #1321 "Textures Not Rendering - Showing All Black"
The model textures are not being rendered and are all black. Tested on Safari, Chrome (Max OSX). When I load the .glb file to other online viewers, the model seems to be showing as it should. I have loaded the model in the interactive example and tested out different lighting environments, with no luck, it's still all black.

I looked at previous posts with similar issues but still haven't found a

[2020-07-01 19:31] elalish commented on #1321
@reubenkib Thank you, can you remix our Glitch as the new issue instructions recommend? That will help enormously with debug.

[2020-07-01 19:51] yair-mantis opened #1322 "unable to build "rollup: not found""
### Description
[code]

### OS
windows/WSL ubuntu

### Versions

node v12.18.2
npm  v6.14.5

- model-viewer: vX.X.X
- three.js: rXX

[2020-07-01 20:07] elalish commented on #1322
Hmm, well I'm not sure about rollup specifically, but I know our dev environment has problems under Windows (likely because our scripts are not properly cross-platform). None of the devs on this project have a Windows machine which is why it hasn't been fixed. If you do figure out how to solve it, a PR would be most welcome as it would be great to make it easier for contributors to develop on Wind

[2020-07-01 20:39] ronpadz commented on #278
It seems to me that an interim solution to this problem would be to encourage @donmccurdy & Co. to integrate usd_from_gltf into https://threejs.org/editor/ exporters.

[2020-07-01 20:45] yair-mantis commented on #1322
thank you for the fast replay
note this is not windows per-se as i use ubuntu sub system.

weirdly while messing around i forced rollup to install using
`npm install rollup `
then build started working.

solved?

[2020-07-01 20:45] #1322 closed

[2020-07-01 21:16] donmccurdy commented on #278
/cc https://github.com/mrdoob/three.js/issues/14219#issuecomment-652649975

[2020-07-01 21:52] reubenkib commented on #1321
I remixed it here: https://saber-intriguing-reminder.glitch.me/

Is this what you meant?

[2020-07-01 22:32] elalish commented on #1321
@reubenkib Yes exactly, thanks! I have a repro and it seems to be a problem in three.js which I can repro here: https://gltf-viewer.donmccurdy.com/. If you try the lighting tab, you'll see that only the directional light is having an effect, while the environment and ambient do nothing. We use only an environment light, so that explains the black render. What kind of material is in your file? It w

[2020-07-02 12:35] jlygit opened #1325 "how can i rotation my model around the z axis by mouse move?"
hello all,
how can i rotation my model around the z axis by mouse move?

[2020-07-02 12:56] jlygit commented on #1325
just like the following
![3d_show](https://user-images.githubusercontent.com/10195989/86361405-60a15400-bca6-11ea-9e08-323e5523c3dc.gif)

[2020-07-02 13:29] pzyu opened #1326 "Screenshot/snapshot feature only available for iOS but not Android"
### Description

Is the feature to take a screenshot of the placed object in AR only available for iOS Quick Look? It doesn't seem to show up on Chrome for Android.
![rover](https://user-images.githubusercontent.com/18459487/86364524-dd363180-bcaa-11ea-87b6-2bdc9bba9f3f.png)

### Browser Affected

- [X] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [X] Safari

### OS

- [X] Android
- [X]

[2020-07-02 15:21] elalish commented on #1325
glTF specifies that the up axis is +Y, so if your model is oriented this way, then you can simply set `camera-controls camera-orbit="0deg 0deg auto" min-camera-orbit="auto 0deg auto" max-camera-orbit="auto 0deg auto"`. phi = 0deg means looking from the top down. We plan to add an orientation attribute in case your model is not Y-up, but until then you'll have to add the transformation to the file.

[2020-07-02 15:24] elalish commented on #1326
Indeed, we're working on bringing this feature to WebXR, but it's not available yet. However, SceneViewer (the Android equivalent of iOS QuickLook) does have this feature, so you can use `ar-modes="scene-viewer quick-look webxr"` to prioritize the modes that support screenshots.

[2020-07-02 15:50] pzyu commented on #1326
I do have ar-modes="scene-viewer quick-look webxr" included, but I do not get the button to take a screenshot, or even the title and link.

![img](https://user-images.githubusercontent.com/18459487/86380485-b2ee6f00-bcbe-11ea-96ea-ba6175b34c96.jpeg)

[2020-07-02 15:58] elalish commented on #1326
Oh, actually I should have said to remove webxr entirely from the list; I think that's where you're ending up still. I bet you hit #1286, which is already fixed and will be part of the next release.

[2020-07-02 16:58] elalish commented on #1321
@reubenkib Actually, I'm nearly certain the issue is that the AO channel is black. Three's behavior here is actually correct, since AO affects environmental (ambient) lights, but not directional lights. Having uniformly black AO is physically incorrect, as this implies the whole surface gets no ambient lighting (as though the whole model were somehow the bottom of a crease). If you didn't specify

[2020-07-02 17:01] elalish commented on #1316
@ZenDerDio Stay tuned, I'm in the process of changing the 3DOM API heavily.

[2020-07-02 17:44] reubenkib commented on #1321
Thank you for your response. I'll pass the message along to my 3d modeler and hopefully this fixes it! I will report back.

[2020-07-02 22:38] hybridherbst opened #1327 "Weird behaviour of SceneViewer launch intent when http is used"
### Description

For local development, I'm using a simple http server to serve model-viewer.
However, SceneViewer does not launch.
After some testing with the intent URL, the behaviour is indeed weird:
An intent such as
[code]
will work (file uses http but schema is https), but the one model-viewer uses would be
[code]
which does exactly nothing - also doesnt launch the fallback (this is with the

[2020-07-03 02:25] pzyu commented on #1326
I actually realized that when I revert the model-viewer version back to 0.8.0, the screenshot feature becomes available again. I think it has to do with #1142 where the title and link have been removed. In that case, I will probably just modify the model-viewer.js to suit my needs.

[2020-07-03 13:30] hjeldin commented on #1312
Can confirm on Ubuntu 19.10 / Firefox 78.0.1

[2020-07-05 22:28] hybridherbst opened #1328 "[Regression] "Invalid URL" for regular relative URLs"
### Description

I'm seeing a lot of this recently:

[code]

for plain old relative urls (e.g. src="myModel.glb"). This seems to be a regression, when I switch to 0.9.0 this works fine.

#### Live Demo
https://prefrontalcortex.de/labs/model-viewer/upload/MultiMaterial-URLBug/

### Browser Affected

- [X] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [ ] Safari

### OS

- [X] Android
- [

[2020-07-06 13:42] judasbenhur commented on #1171
We're running into the same issue with PBR materials. Is there any update to this or best practices for handling this?

[2020-07-06 13:43] judasbenhur commented on #1171
Identical issue from 4 months ago: https://stackoverflow.com/questions/60542324/google-model-viewer-no-reflections-on-object-on-android

[2020-07-06 14:53] elalish commented on #1327
Thank you, this looks like a bug to me. @tpsiaki, can you comment on the http vs https thing here? I'm a little surprised changing the intent in this way makes it work.

[2020-07-06 15:02] elalish commented on #1171
@judasbenhur Have you tried using the webxr AR mode instead of SceneViewer? WebXR stays in the browser, so it uses the same renderer as the 3D view and keeps all the resources loaded; that'll be the best way to get consistency.

Thanks for pointing me to the SO question; I need to find a way to get notified of those.

[2020-07-06 15:54] elalish commented on #1328
I believe this is a dupe of #1286. Can you verify this is fixed on master?

[2020-07-06 20:01] hybridherbst commented on #1327
SceneViewer officially only supports the HTTPS intent;
@tpsiaki please don't take this workaround away from me for local testing 🙏

[2020-07-06 20:09] hybridherbst commented on #1328
Yes fixed! Sorry I didn't see the duplicate

[2020-07-06 20:09] #1328 closed

[2020-07-07 06:55] judasbenhur commented on #1171
@elalish can you point me into the right direction for implementing this webxr AR mode? When you say it stays in the browser, does that mean it'll still be able to be rendered in AR?

[2020-07-07 15:02] elalish commented on #1171
@judasbenhur Indeed, WebXR is a new API for in-browser AR & VR. As long as you're using the latest (v1.0) model-viewer and Chrome 83+ on Android, it's already the default AR experience. See https://modelviewer.dev/examples/webxr.html

[2020-07-07 17:31] hybridherbst opened #1329 "Spam-clicking AR button causes AR to break (fullscreen behavior takes over)"
### Description

We have reports from people that model-viewer gets stuck in fullscreen mode after repeatedly pressing the AR button.
From our tests, this seems to be caused because multiple AR open requests are sent and thus the fullscreen fallback kicks in, preventing any further AR use (even if the device actually supports it).
Reproduces with all SceneViewer using scenes/devices.

This kind of

[2020-07-07 17:37] elalish commented on #1329
We actually removed the fullscreen fallback in 1.0, since it was flakey at best. If this is happening on the latest, can you give a screenshot of what you mean by "fullscreen mode"?

[2020-07-07 17:57] hybridherbst opened #1330 "AR button shows on devices that don't support AR"
### Description

On some devices the AR button shows but the devices don't actually support AR:
- Huawei P10
- Huawei P9 lite
- Galaxy A3

This makes for pretty bad UX as for the user it feels broken and we can't react to it on the website.

#### Live Demo
https://modelviewer.dev/examples/augmented-reality.html

### Browser Affected

- [x] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
- [

[2020-07-07 18:08] elalish commented on #1330
Since I don't have any of those devices to repro with, can you show the output of the JS console when it fails? This might be a WebXR thing...

[2020-07-07 18:50] hybridherbst commented on #1270
Relevant movement in the "competition":
https://medium.com/8th-wall/announcing-in-browser-video-recording-ec0c2b3d0045

[2020-07-07 18:52] hybridherbst commented on #1329
I think fullscreen fallback is gone but the internal bool for "has tried fallback" or so is still there, that's what I meant. There's no fullscreen happening but ... basically nothing.

[2020-07-07 18:54] hybridherbst commented on #1330
In this case there's no WebXR involved, but SceneViewer only.
These devices don't support AR / SceneViewer at all but still show the button.
I'll try to get a log (these are customer reports so might take a bit)

[2020-07-07 20:27] elalish commented on #1330
Oh yeah, it's a known issue that we can't tell accurately if SceneViewer is really available or not. Unfortunately there's not much I can do about this one.

[2020-07-08 00:16] romainguy commented on #1171
@elalish Filament's processing of IBLs doesn't explain the difference shown here. It's more likely that the difference (since it's between ARCore and ARKit) is in the generation of the dynamic env map (ARCore provides a 16x16 cubemap, it won't be sharp no matter what).

[2020-07-08 07:30] judasbenhur commented on #1171
@romainguy thats 16x16 px I assume? That would explain a lot. Is there any plan to improve this resolution in Scene Viewer?

[2020-07-08 08:01] romainguy commented on #1171
Yes, it's 16x16px per face.

[2020-07-08 10:18] zeekrey commented on #690
@ZuechB Did you made it? I'm still facing the same issue. :(

[2020-07-08 12:32] ziyanma opened #1332 "Can't set src to a blob url in firefox"
### Description
Setting src of model-viewer to a blob url causes model-viewer breakage: no model is rendered. After setting the url back to regular static url, model-viewer still renders no model.

#### Live Demo
https://glitch.com/edit/#!/model-viewer-src-blob-url-firefox

### Browser Affected
- [ ] Chrome
- [ ] Edge
- [x] Firefox
- [ ] Helios
- [ ] IE
- [ ] Safari

### OS
- [ ] Android
- [ ] iOS

[2020-07-08 14:11] judasbenhur commented on #1171
@elalish whats the best way to verify/test that the viewer stays in the browser? I'm still seeing reflection and brightness mis-matches between model and scene viewer.

I've confirmed to be using version 1.0.0. on a Samsung Galaxy S7 with
 Chrome 83.x. I've set the ar mode inside the <model-viewer> element as follows: ar-modes="webxr". Am I missing anything else?

[2020-07-08 14:32] elalish commented on #1171
@judasbenhur Just put an HTML element as a child of model-viewer; if you're in webXR, it'll still show up when you've entered AR. I'm currently tracking down some bugs on failing to enter webXR, which you may have run into.

[2020-07-08 15:57] stevesan opened #1333 "Apparently flaky test: "idealAspect gives the proper blob dimensions""
Example run where this failed: https://github.com/google/model-viewer/pull/1331/checks?check_run_id=850301022

The PR changes did not touch the model-viewer package there at all.

[2020-07-08 21:40] #1284 closed

[2020-07-09 15:49] pzyu opened #1336 "GLB model not loading animation properly in scene viewer"
### Description

This is a new issue I have encountered only today in scene viewer. My model is supposed to have an animation pose, but it does not reflect in scene viewer.

I did not update the model-viewer version, so I'm not entirely sure if the changes are on Google's scene viewer or whether the issue lies somewhere else.

#### Live Demo
When previewing with https://arvr.google.com/scene-viewe

[2020-07-09 15:51] elalish commented on #1336
@tpsiaki Looks like a SceneViewer regression?

[2020-07-09 19:52] sun765 opened #1337 "Tone mapping is not configured for babylonjs in fidelity test"
### Description

babylonjs supports ACES tone mapping, but it's not configured to that in the fidelity test.

[2020-07-09 19:54] sun765 opened #1338 "Filament is not updated to the latest version"
### Description

The fidelity test application is based on 1.5.2 version of filament, while it's latest version is 1.8.0.  It should be updated to latest version, and some configuration should be changed accordingly when rendering filament's golden.

[2020-07-09 20:07] sun765 opened #1339 "Question mark in missing on fidelity test page"
### Description

Question marks that explains the metrics are missing. It probably has something to do with our current deploy actions.

[2020-07-10 05:22] pixelrgb028 opened #1342 "Changing textures with Javascript"
Is it possible to change the textures of a glb or glTF in AR using scene-viewer and javascripted buttons? Looking to showcase a product in multiple colors and styles, but need to build a javascript UI for users to control the different texture options using fixed buttons.

[2020-07-10 14:08] hybridherbst opened #1343 "WebXR doesn't work in Firefox' WebXR Viewer"
### Description

Mozilla has an iOS app for testing WebXR on iOS.
Seems model-viewer does not detect it as AR-capable;
there's https://github.com/MozillaReality/webxr-ios-js/issues/83 open on their end but I wanted to have something open here as well so this can be tracked, because I'm not entirely sure whose bug this is.

When opening a page (e.g. https://modelviewer.dev/examples/augmented-realit

[2020-07-10 14:12] gjcope commented on #1312
Running into this issue as well. Windows 10 / Firefox 78.0.1

[2020-07-10 16:11] elalish commented on #1342
In fact the PR I'm about to merge addresses exactly this: #1302. This 3DOM API is still fairly unstable, which is why it's not yet publicly documented, but you're welcome to be an early user and give us feedback. However, none of this customization is available through scene-viewer, as that is a separate native app like quick look. However, we've changed the default AR experience to webXR, which s

[2020-07-10 16:23] elalish commented on #1343
Thanks, yes we actually chatted offline about this with them and other webXR folks and decided their implementation is not following the spec. Hopefully they'll be updating it soon, but we may loosen our tests as well. Unfortunately detecting the readiness of webXR is a tricky business, but we're making improvements.

[2020-07-10 16:33] #999 closed

[2020-07-10 16:59] elalish commented on #1332
Thanks, in fact this also repros in our [interactive example](https://modelviewer.dev/examples/tester.html). No console warnings or caught exceptions; ugh.

[2020-07-10 17:54] #1337 closed

[2020-07-10 18:18] pixelrgb028 commented on #1342
Fantastic, I would love to test this out if at all possible! It's too bad that we do not have a way to access usdz attributes, but I think updating the usdz model's ios-src in model-viewer should work just fine.

Currently I'm swapping the source links between different .glb models using a js function that targets model-viewer's "src" attribute, but cannot seem to also update the "ios-src"

You ca

[2020-07-10 18:29] elalish commented on #1342
Looking at your source, it appears you've commented out the lines that update ios-src. When you put those back in, does it still have the problem?

[2020-07-10 19:50] pixelrgb028 commented on #1342
Yes, I unfortunately get the following console error:
Uncaught SyntaxError: Invalid left-hand side in assignment

..And upon click, all of the buttons render:
Uncaught ReferenceError: toggleP is not defined
    at HTMLButtonElement.onclick ((index):**LINE NUMBER OF EACH CLICK 77, 81, 85, 89**)

You can text the errors here:
https://www.lockheimers.com/lm/jsui2/

[2020-07-10 20:58] pixelrgb028 commented on #1342
Thank again for your help! I cleaned up the first error, but I'm still not able to link the "ios-src". Please the following issue when I click on the first (yellow) button -- this happens respectively to each link:
----------------------------------------------------------------
-script.js:20 Uncaught ReferenceError: src is not defined
    at toggleYZ (-script.js:20)
    at toggleY (-script.js:10)

[2020-07-10 21:04] elalish commented on #1342
Instead of
[code]

You want something like
[code]

[2020-07-10 21:18] pixelrgb028 commented on #1342
That should technically work, thank you very much... unfortunately, the console keeps saying it cannot find the source; even if I link directly using ios-src=='assets/model.usdz';

We are so close to getting this to work =/
--------------------
-script.js:11 Uncaught ReferenceError: src is not defined
    at toggleY (-script.js:11)
    at HTMLButtonElement.onclick (-index.html:78)

[2020-07-10 21:18] pixelrgb028 commented on #1342
You can see the latest code here: https://www.lockheimers.com/lm/jsui2/-index.html

[2020-07-10 21:20] elalish commented on #1342
I think you're confusing `=`, `==` and `===`. Assignment can only be done with `=`. Check equality with `===` and check approximate equality with `==` (which is to say, never use `==`). If it can't find the file, check your directory structure and spelling.

[2020-07-10 21:25] pixelrgb028 commented on #1342
Gotcha, however if I use single "=", I end up with an error:
----------------------
Uncaught SyntaxError: Invalid left-hand side in assignment
----------------------

I updated to using "===" but it still renders "src is not defined" even when I link directly to the usdz model. The .glb models all load perfectly, so it must be something to do with the ios-src

Latest:
https://www.lockheimers.com/l

[2020-07-10 21:29] elalish commented on #1342
Ah, I finally noticed the problem. The standard naming conventions on the web are attributes use dashes with lower case, like `ios-src`, while the equivalent properties in Javascript use camel-case: `iosSrc`. The only reason `===` doesn't give you an error is because it's not doing anything at all.

[2020-07-10 21:42] pixelrgb028 commented on #1342
This is very exciting! Changing "iso-src" to "iosSrc" fixed the console errors! So close... Now the only issue I have is when I try to preview the models in AR QuickLook I get:
"Object could not be opened"

Although it's the same usdz files that opened before. I do get a single warning:
-------------------------
DevTools failed to load SourceMap: Could not load content for https://unpkg.com/@googl

[2020-07-10 22:37] pixelrgb028 commented on #1342
Thanks again for all of your help! I am moving my issue on to the apple Developer forum. Please let me know if I can help test any new features with texture attributes or other future updates.

[2020-07-11 04:38] pixelrgb028 commented on #774
I'm unfortunately having the same issue when I try to view my model in AR on an iPhone 6S, "Object could not be opened". However, if I link to the usdz directly, the browser tiggers QuickLook and it works. When I check the inspector I find the following warning:
----------------------
DevTools failed to load SourceMap: Could not load content for https://unpkg.com/@google/model-viewer@1.0.0/dist/mo

[2020-07-11 07:15] pixelrgb028 commented on #774
I have 4 products to choose from, and am able to update the path of my .glb product models with an onClick event that updates the 'src' attribute. But when I try to update the 'ios-src' attribute to view the usdz version of the model in QuickLook on an iPhone 6S, I end up with "Object could not be opened".

However, if I link the path of the 'ios-src' to a single usdz directly, the browser tiggers

[2020-07-12 05:23] eLBati commented on #118
Hello, I can't find references to width and height in README anymore.

My problem is that I can't display a `model-viewer` with dimensions different from 300px x 150px. Is it possible to change them?

Thanks!

[2020-07-12 15:00] artob commented on #1109
@cdata Where might one find documented the oldest Chrome version that v1.0.0 supports?

[2020-07-12 22:51] SaintJacques commented on #1300
import "@google/model-viewer"

[2020-07-13 08:19] eLBati commented on #118
It seems I just have to add CSS `width` and `height` to `model-viewer`...

[2020-07-13 08:33] bit-captain commented on #1208
@PolGuixe did you able to work through build now? I got the same error .If you could please told me how you work it through please T_T

[2020-07-13 13:21] hybridherbst opened #1345 "Modelviewer Tester: Switching environment image and switching back to "default" throws exception"
### Description
Switching environment image and switching back to "default" throws exception

![image](https://user-images.githubusercontent.com/2693840/87309112-728fbc00-c51c-11ea-8ef3-296e866176fe.png)

#### Live Demo
https://modelviewer.dev/examples/tester.html
- switch to another env
- switch back to "default"

### Browser Affected

- [X] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Helios
- [ ] IE
-

[2020-07-13 16:02] elalish commented on #1109
@artob We don't document that anywhere because we don't have enough test coverage to be certain. More than likely it won't stop completely, but simply have more and more bugs the further back you go. As stated above, our test coverage is generally for the most recent two versions.

[2020-07-13 16:05] elalish commented on #118
@eLBati Correct; as a custom element, it inherits most of the generic CSS attributes.

[2020-07-13 16:15] reubenkib commented on #1321
The issue was due to the rendering settings in Substance Painter and other programs. All fixed now per your suggestions. Thank you!

[2020-07-13 16:15] #1321 closed

[2020-07-13 16:35] gproud commented on #1274
If I may hijack this thread @elalish I am having the same issue. When I apply any skybox or environment image I get the third image @nick-sp posted.

https://glitch.com/edit/#!/join/e3a84155-04fe-402e-bf5c-d64c46980c60

This is a link to my glitch project illustrating the issue. With no hdri the colours show correctly and the model also looks fine on https://gltf-viewer.donmccurdy.com/ so I'm assu

[2020-07-13 16:52] elalish commented on #1274
@gproud It looks like it's either failing to find or failing to decode your hdri. Can you try some examples from HDRI Haven? You might also want to check just serving it locally. As for not working on googledrive and such, I think the problem is that you need the CORS headers set properly; there should be console warnings about that.

[2020-07-13 17:57] gproud commented on #1274
Hi @elalish thanks for responding, I have used the example hdri on the model-viewer site and the current is a second from hdri haven, both 1k.

This isn't my natural arena, so I will look into what you mean by CORS and let you know how I get on with that.

[2020-07-13 18:04] elalish commented on #774
@pixelrgb028 It's possible this is the same error as #1286, but for quicklook instead. I think I fixed them both; can you verify if this repros for you on master?

[2020-07-13 18:16] elalish commented on #774
@pixelrgb028 And just checking since someone else had this trouble; the attribute name is `ios-src`, but in JS, the member is called `iosSrc`, as this is the traditional naming convention on the web.

[2020-07-13 18:18] elalish commented on #1274
@gproud Yeah, I'm seeing this in the console on your website, so I think CORS is the answer:
[code]

[2020-07-13 18:57] artob commented on #1109
@elalish The failures I have seen (with the bundled stock Chrome version on Android 10 VMs, as mentioned above) produced just a blank white page with no overt indication of anything wrong other than the content just missing.

Is that the intended failure mode for ancient Chrome versions (Chrome 74 in that case), or might it perhaps be useful to show some failure indication similar to broken image

[2020-07-13 19:24] elalish commented on #1109
@artob Indeed, those things would be helpful. I'd be more than happy to accept a PR, and if that's too heavy a lift, if you want to test some chrome versions and put the results here, I can put them into our docs somewhere. The biggest challenge is it will tend to be a moving target.

[2020-07-13 20:42] stevesan opened #1347 "TRex GLB causes console error related to ModelKernel.deserialize"
### Description

Use the tester (https://modelviewer.dev/examples/tester.html), then drag this GLB into it: https://github.com/toji/xr-dinosaurs/blob/master/media/models/tyrannosaurus/compressed.glb

The model displays fine, but there are errors in the console. When loading this GLB into space-opera, it seems to break material editing (which is likely related to the errors?)

Here is the console e

[2020-07-13 21:14] elalish commented on #1347
That file has 16,000 some errors in the [gltf-validator](https://github.khronos.org/glTF-Validator/). If we can find a model that repros this while passing validation, I'll investigate.

[2020-07-13 23:44] #1292 closed

[2020-07-13 23:55] #1332 closed

[2020-07-14 05:29] mpulock opened #1355 "Stop loading model-viewer in mobile browser"
Hi,

is there any way to stop Model-viewer from loading in mobile browsers? I would like to load it in desktop browsers but, not in mobile till I can find a way to improve the page performance.

Thank you.

[2020-07-14 11:56] ataylor09 commented on #742
Hi there,
I'm getting the same issue.

I'm trying to use the Google Scene Viewer as described here:
[](https://developers.google.com/ar/develop/java/scene-viewer)

and using a firebase storage download url as the file.

I know this strictly falls outside the scope of Model Viewer, but I'm hoping someone will be willing to help me out!

[2020-07-14 12:56] gproud commented on #1274
@elalish Just to update you, I've managed to get around it with a CORS proxy for the moment (https://cors-anywhere.herokuapp.com/), I feel that it has marginally increased load times, but that may just be because it is loading the HDR as well now.

I'm very grateful for your help and work on this project!

[2020-07-14 13:18] gproud commented on #1274
@elalish However, now on iOS the same .usdz file which was held on glitch, now called through the proxy, returns a 'object requires a newer version of iOS' when going into AR mode. The glitch source stills works fine, it's only when calling the file through the proxy that it is unhappy.

[2020-07-14 13:21] gproud commented on #1274
@elalish Bafflingly calling the .usdz directly doesn't seem to have the same issues as calling the .glb or HDR as described, so it's seemingly all in working order

[2020-07-14 15:26] elalish commented on #1355
You can use any of the normal web techniques to only show model-viewer on certain types of browsers. You may want to lazy-load model-viewer.js, so that it only downloads if you're on the desired browsers. There are many ways to achieve this, and none are specific to model-viewer.

[2020-07-14 15:28] elalish commented on #742
@tpsiaki Do you have any guidance you could provide to @ataylor09?

[2020-07-14 15:45] elalish commented on #1274
@gproud That is strange, but sounds like an iOS error. Hopefully the apple forums can help out. If you figure it out, please let us know here!

[2020-07-14 15:52] #1312 closed

[2020-07-14 22:03] sun765 opened #1360 "Some scenarios of babylonjs are not rendered correctly in fidelity test page"
### Description

There are three types of scenarios of Babylonjs are not rendered correctly in fidelity page (https://modelviewer.dev/fidelity/):

1. khronos-2CylinderEngine:  the model is actually rendered but it can't be seen until you rotate it. It's probably that the model is somehow clipped by the skybox

2. khronos-MetalRoughSpheres-LDR, FurnaceTest, DirectionalLightTest:  the HDR/LDR file i

[2020-07-15 21:54] ataylor09 commented on #742
@elalish Out of interest, do you know how Model Viewer handles this? Isn't moddel viewer using Scene Viewer behind the scenes to start AR on an Android device?

[2020-07-16 14:50] eLBati commented on #1304
Hi @reubenkib , how did you solve?

[2020-07-16 15:26] elalish commented on #742
@ataylor09 our default is now webXR instead of SceneViewer, so that we don't have to leave the browser or redownload the model. When you specify `ar-mode="scene-viewer"`, we just pass the src URL to their intent, but we get no feedback from then on.

[2020-07-16 18:27] hellovarun opened #1371 "modelViewer is not defined at HTMLButtonElement(Animations are not working)"
### Description

Hello Guys, I'm experiencing a wired bug with animations all of sudden and animations stopped working and console throw's this error.
"Uncaught ReferenceError: modelViewer is not defined at HTMLButtonElement."

#### Live Demo
https://glitch.com/~humdrum-half-wanderer

- model-viewer: 0.9.0

[2020-07-16 18:42] aarbro opened #1372 "Cannot import model-viewer since 1.0.0 with npm install"
### Description

As has been reported in a few other issues (https://github.com/google/model-viewer/issues/1300, https://github.com/google/model-viewer/issues/1208, maybe others), there's been a failure to resolve the model-viewer when using `import "@google/model-viewer"`. This worked fine until 1.0.0. In my case it is a vue based project, but I suspect it has the same root cause as the React bas

[2020-07-16 19:33] elalish commented on #1372
@aarbro Thank you so much for the detailed analysis! The main and module paths look like a clear bug. The reason for removing lib and src was because these contained internal functions that are not part of our stable, public API, so we wanted to discourage anyone depending on them directly. Out of curiosity, what do you use the transitive dependency on three.js for? I definitely want to package th

[2020-07-16 19:39] elalish commented on #1371
I think you're just missing `const modelViewer = document.querySelector('#your-id');`

[2020-07-16 20:20] aarbro commented on #1372
@elalish I'm don't have full understanding of this either, but we are required to have approval for any open source software we use, and it is supposed to include transitive dependencies. It is my understanding that we cannot fully rely on the dependencies listed in the package.json, so instead were getting a supposedly more accurate list of dependencies by relying on Webpack, as it will build a l

[2020-07-16 20:26] elalish commented on #1372
@aarbro Okay, so now that we only publish our bundles, they are completely self-contained (the three.js source is actually most of our bundle size). So maybe the right thing to do is move all our dependencies to devDependencies, to make it more clear that there's nothing needed.

[2020-07-17 02:52] hellovarun commented on #1371
thank you, @elalish I have declared const but button click still not calling animations and everything was working fine before 2days

https://glitch.com/edit/#!/join/21998466-27a6-4fe4-b41b-735f0fdad32f

![image](https://user-images.githubusercontent.com/67313361/87743473-a31a7300-c806-11ea-8483-858a4ac58130.png)

[2020-07-17 04:40] #1371 closed

[2020-07-17 06:21] mithru commented on #1230
For others too deep in the weeds like I was a few minutes ago, #660 addresses this.
You probably started your modelviewer page with an older example that didn't have focus-visible.js included.
pick it up from the repo or this link:
https://unpkg.com/focus-visible@5.1.0/dist/focus-visible.js

[2020-07-17 12:56] rana9037 commented on #1372
Here's a little more context on the root of the problem: we have to go through legal clearance for all code that's delivered to the client, which includes the packages we directly import into our code as well as the transitively included packages that are dependencies of the direct imports. We use Webpack to generate a license file from our imports, and that's the file we use to submit our clearin

[2020-07-17 13:27] ABakker30 opened #1375 "FOV orthogonal views"
FOV lower bound currently is 10. Could FOV lower bound be extended to 0 or 1 to support orthogonal views?

[2020-07-17 16:22] elalish commented on #1372
@rana9037 I believe that legally the bundlers / minifiers are not allowed to remove license comments, so I believe you can find them all by searching model-viewer.js for `@license` strings.

[2020-07-17 16:27] elalish commented on #1375
We have not supported orthogonal views as they complicate the math too much. They are especially a problem for skyboxes, as a skybox is meaningless to an orthographic camera. What is your use case?

[2020-07-17 17:01] ABakker30 commented on #1375
Working on a multi vertical model viewer portal. One vertical is art. My personal mathematical art benefits greatly from close to orthogonal views with minimal FOV distortion. Currently use SketchFab, their lower bound is 1 and does great. Two examples of my work (viewer dev and math art). Both with FOV at 10. Select animation tab.
1. https://virtualexhibits-qa.azurewebsites.net/viewer/artwork/6a3

[2020-07-17 17:04] elalish commented on #1375
You can set the `min-field-of-view` [attribute](https://modelviewer.dev/), just don't set it to zero :). 1 degree should be no problem.

[2020-07-17 17:25] ABakker30 commented on #1375
Awesome!

[2020-07-17 17:43] ABakker30 commented on #1375
Would that allow me to see an object at a distance with FOV = 1?
I tried the min-field-of-view = 1 result -> https://virtualexhibits-qa.azurewebsites.net/viewer/artwork/6a3d3a9b-512e-4096-8e50-aab8769acf15

[2020-07-17 17:51] elalish commented on #1375
Please read through the rest of the attributes. You'll want to increase max-orbit radius so you can set a sufficiently large radius.

[2020-07-17 17:57] MATTJ0NES opened #1379 "Glitch shows partial renders outside modelviewer in Safari on MacOS and iOS"
Hi, I'm experiencing an issue where I have multiple models on a page in Safari (on both MacOS and iOS) and have a strange glitch (not sure how else to describe) where there seem to be multiple renders of each model happening outside the modelviewer itself. The models are set to autorotate and the glitch appears once rotation starts.

An image attached which hopefully gives the idea. You can see th

[2020-07-17 18:00] ABakker30 commented on #1375
:)
Closing out the issue.
Thanks again.

[2020-07-17 18:00] #1375 closed

[2020-07-17 19:00] elalish commented on #1379
Thanks, I have not seen this before, though I am working on a different iOS bug that might be related. Would it be possible to remix our Glitch in the issue template to reproduce this? That would help enormously with debug.

[2020-07-17 19:23] MATTJ0NES commented on #1379
Thanks for looking. I've not used Glitch before so which way would be best - to use all the same css and models that I have in my project or upload my models to Glitch?

Would be happy to share a link to the project with you but prefer not to do publicly here as it is a work in progress.

Just to note, it's Safari on desktop as well as iOS.

Thanks again!

[2020-07-17 19:44] elalish commented on #1379
A simplified repro on Glitch, probably using generic models would be best. If you'd rather, you can DM me on twitter to share your existing project: @EmmettLalish.

[2020-07-17 20:02] MATTJ0NES commented on #1379
Thanks Emmett, much appreciated. I've recreated the issue here, using the default Glitch and adding in how I am using the model, just with some bits removed that identify it.

If you look after the second and third models in Safari on either desktop or iOS you should hopefully see it. FYI all OS and browsers are up to date with latest versions.

https://towering-surf-sleet.glitch.me

[2020-07-17 22:54] sun765 opened #1382 "Warning and errors on filament's rendering page"
There're waring about WebAssembly and error in filament init function in filament's rendering page.  But everything works fine in this page. Also, not sure whether this is related to #1383  issue or not.

![image](https://user-images.githubusercontent.com/44676379/87836662-e3a5db00-c85e-11ea-8640-4ac010cd6101.png)

[2020-07-17 23:01] sun765 opened #1383 "Filament-viewer sometimes fails at rendering goldens"
Filament-viewer sometimes fails at rendering goldens, with the error that it's trying to call method of undefined.

Here's probable reason: according to filament's document, https://google.github.io/filament/webgl/reference.html#init,  all client side call should be put in init function's onReady callback, but this is not how the current code is written. It needs to be refactored according to fila

[2020-07-18 09:21] ABakker30 opened #1384 "Tap event"
New Tap-event that returns the Tap position "$angle $angle $distance"

[2020-07-18 14:02] MATTJ0NES commented on #1379
Not sure if this is related to the cause of the issue but I see that the model viewer has a style of ["contain: strict"](https://developer.mozilla.org/en-US/docs/Web/CSS/contain) which is an unsupported property name in Safari.

<img width="863" alt="Screenshot 2020-07-18 at 14 57 07" src="https://user-images.githubusercontent.com/1336955/87854143-929df180-c907-11ea-9484-a7261d42b9f6.png">

[2020-07-18 15:51] suro7 opened #1385 "Include HTML data in snapshot"
Would it be possible to include in snapshot not only the canvas but also other child elements to <model-viewer>?

https://3dfascination.com/3d-fascination-web/viewer/test.php

[2020-07-18 22:12] rana9037 commented on #1372
@elalish I went through model-viewer.js and searched for `@license`. I found a reference to it for `three.js` and `polymer`.  Is it safe to say that, based on this and the dependencies listed in package.json, that the transitive dependencies are `polymer/lit-element` and `three`?

[code]

[2020-07-19 22:19] hybridherbst opened #1386 "GLB displays broken, only in model-viewer"
### Description

While testing totally different things I found that somehow specific files are breaking metallic/roughness (?) in model-viewer but work everywhere else I tested (Windows 3D Viewer, three.js editor, Babylon sandbox, even SceneViewer!).

#### Live Demo
https://modelviewer.dev/examples/tester.html
with
[DamagedHelmet-Gamma.zip](https://github.com/google/model-viewer/files/4944769/Dam

[2020-07-20 11:24] theranbrig commented on #742
We switched to hosting our GLTF and USDZ files on AWS S3.  No problems at all.  Not sure if that is a viable option for everyone, but we haven't had any issues since switching.

[2020-07-20 12:36] jpeltone commented on #742
Thanks but in my case I would not like to use S3 since all models and other logic is built on top of Firebase. One would expect Google to support integration between their products but I guess not in this case...

[2020-07-20 15:19] elalish commented on #1384
Take a look at the `positionAndNormalFromPoint()` method, documented on modelviewer.dev. The position is in world coordinates, so you can easily set `camera-target` to that point if desired.

[2020-07-20 15:28] elalish commented on #1385
This would be a bit tricky. Can you tell me what the use case would be?

[2020-07-20 15:38] elalish commented on #1372
Yes, that's correct, and searching those `@license` strings is the canonical way to find them. Meanwhile, I need to move all our dependencies to devDependencies, because we now package everything internally.

[2020-07-20 15:43] elalish commented on #1386
That's a strange one. Can you tell me anything about what you modified in the file to get this result?

[2020-07-20 15:59] suro7 commented on #1385
to include a logo for example

[2020-07-20 16:08] elalish commented on #1385
At least within the model-viewer element, it'll still work since the child elements will still be shown over the poster, even if they are not part of the poster. Puppeteer can be used for automated screenshots of any website, so that might help. If you have an idea of how to implement what you're after, a contribution would be most welcome!

[2020-07-20 16:11] suro7 commented on #1385
can you show me the example where within model-viewer elements can be captured natively?

[2020-07-20 16:20] tpsiaki commented on #742
@ataylor09 @jpeltone Do you have examples of the urls to the gltf or glb files you're trying to load from firebase or elsewhere that are failing?

[2020-07-20 16:22] tpsiaki commented on #742
@jpeltone - The link you provided seems to maybe not be including the url get params to the file= parameter sent to scene viewer.  This link is telling Scene Viewer that the gltf can be downloaded at https://firebasestorage.googleapis.com/v0/b/ which seems to be incomplete.

[2020-07-20 16:24] elalish commented on #1385
Child elements of model-viewer are pulled into the default slot in the shadow-root by lit-element. We don't do anything special with them in our own code. I think you're really just looking for a generic way to screenshot a subset of a rendered page.

[2020-07-20 16:38] suro7 commented on #1385
yes. it seems that it makes a snapshot of the canvas only when I use the code taken from interactive demo page:

let posterUrl = '';
let viewer = document.getElementById('model-viewer');
const a$1 = document.createElement('a');
const orbitString = document.getElementById('cameraOrbit');
async function createPoster(download) {
	const orbit = viewer.getCameraOrbit();
	orbitString.textContent = `${or

[2020-07-20 17:05] elalish commented on #1385
Yes, exactly, that's why what you're asking for will be tricky.

[2020-07-20 17:06] suro7 commented on #1385
so what would you recommend to use for screenshot? server is running on PHP and not NodeJS

[2020-07-20 17:14] elalish commented on #1385
As I said earlier, if you want a solution external to model-viewer I'd recommend puppeteer. That's what we use for fidelity testing.

[2020-07-20 17:21] suro7 commented on #1385
Thanks. I will check

[2020-07-20 17:36] jpeltone commented on #742
Thanks for replying, I did not want to paste the full link as the access is behind authentication but I created temporary file here: https://firebasestorage.googleapis.com/v0/b/ardom-ee02f.appspot.com/o/models%2Fscene.gltf?alt=media&token=899e893b-8d92-42d1-bfb5-2e2485104784

However, this file is only the gltf file, is it so that also the bin file and textures are also needed? I could not get the

[2020-07-20 17:49] jpeltone commented on #742
update: I was able to see this model successfully in the preview-tool: https://firebasestorage.googleapis.com/v0/b/ardom-ee02f.appspot.com/o/models%2Fwall-lamp.zip?alt=media&token=14865e06-29e4-4397-93c4-5e4b085b7263 when uploading the zip file but if I upload the files in the zip to the preview tool separately it does not work and it does not work from Android app code either but gives the same e

[2020-07-20 18:07] jpeltone commented on #742
update 2: I packed the file to glb and uploading it to the preview tool works and shows fine but still does not work from Android app.

File: https://arvr.google.com/scene-viewer/1.0?file=https://firebasestorage.googleapis.com/v0/b/ardom-ee02f.appspot.com/o/models%2Fout.glb?alt=media&token=a4839672-3d8b-436b-9c37-ad088d1fe3e5

related code:
 Intent sceneViewerIntent = new Intent(Intent.ACTION_VIEW

[2020-07-20 19:09] ABakker30 commented on #1384
oops, thanks!

[2020-07-20 19:09] #1384 closed

[2020-07-20 20:37] tpsiaki commented on #742
This is because the & in your intent is being treated as part of the intent url rather than part of the file url, and the %2F is url decoded when the file parameter is read out the intent.  You need to url escape the & with %26 and the % with %25.

This works for me:
https://arvr.google.com/scene-viewer/1.0?file=https://firebasestorage.googleapis.com/v0/b/ardom-ee02f.appspot.com/o/models%252Fout.g

[2020-07-20 21:53] elalish commented on #1379
I have been unable to repro your problem on either my mac or my iPhone SE. Also, could you post a link to the editable version of your glitch so I can see what you're doing? Are you intentionally layering model-viewer elements over each other? Regardless, I did find some Safari-specific bugs related to rendering multiple scenes, so I'm hoping #1387 also fixes your issue. Please let me know either

[2020-07-20 22:36] #1339 closed

[2020-07-20 23:06] hybridherbst commented on #1386
I was working on PBR correctness of my Unity exporter fork, and playing with linear/gamma space on textures. The curious thing is that even after reverting all my changes the export stayed broken in model-viewer. And today, applying my changes again, export results in a working file.

[2020-07-20 23:09] elalish commented on #1386
Thank you for the sleuthing. The only thing I can think of is that the occlusion texture is often (but not always) packed into the same texture as metallicRoughness. Could that be the difference? I'm very surprised model-viewer is giving different results than three.js.

[2020-07-20 23:15] hybridherbst commented on #1386
In this case they are separate, on purpose:
![image](https://user-images.githubusercontent.com/2693840/87995369-9ab88580-caef-11ea-81be-7708669bdc33.png)

[2020-07-20 23:15] hybridherbst commented on #1386
In this case they are separate, on purpose:
![image](https://user-images.githubusercontent.com/2693840/87995397-b2900980-caef-11ea-92b5-bc5363157a77.png)

[2020-07-21 05:22] jpeltone commented on #742
Great, thanks, I missed that when just copying the link. I still need to check how getDownloadUrl() in Firebase StorageReference manages url escaping and try it out.

[2020-07-21 09:27] Atomk opened #1389 "Scene Graph example does not work using suggested library"
### Description

The [Scene Graph example](https://modelviewer.dev/examples/scene-graph.html) on the website does not work when loading the package with the link shown on the website's home page:
[code]

When clicking a button to change color, this message appears in the console:
`Uncaught TypeError: Cannot read property 'materials' of undefined`

This behaviour looks similar to what was reported

[2020-07-21 09:28] jpeltone opened #1390 "How to return to calling app from Scene Viewer?"
When launching SceneViewer from Android app as instructed [here ](https://developers.google.com/ar/develop/java/scene-viewer) i.e.:
Intent sceneViewerIntent = new Intent(Intent.ACTION_VIEW);
sceneViewerIntent.setData(Uri.parse("https://arvr.google.com/scene-viewer/1.0?file=https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Avocado/glTF/Avocado.gltf"));
sceneViewerIntent.s

[2020-07-21 11:49] MATTJ0NES commented on #1379
Thanks. The editable version here https://glitch.com/edit/#!/towering-surf-sleet?path=index.html%3A112%3A0

I don't get it if Safari is resized to small dimensions but certainly get it at full screen on a 13in Macbook.

Current version of Safari is 13.1.1 and MacOS is Catalina, 10.15.5.

[2020-07-21 13:27] #1390 closed

[2020-07-21 13:27] jpeltone commented on #1390
Was able to do this with setting flag:
sceneViewerIntent.setFlags(Intent.FLAG_ACTIVITY_PREVIOUS_IS_TOP);

[2020-07-21 15:20] elalish commented on #1389
I can repro the problem your glitch demonstrates, and it's interesting because it does not repro on the docs site with either `model-viewer.js` or `model-viewer.min.js`. Can you try moving those module loading scripts up to the top of your page? It looks like it's trying to invoke our API before the custom elements have been upgraded.

If that's it, I should change our docs pages accordingly, beca

[2020-07-21 15:40] Atomk commented on #1389
Thanks for your interest, I tried to move the two scripts (the main one and the "nomodule" one) in `<head>` and at the top of `<body>` but in both cases I still had the error.

[2020-07-21 22:35] pedrobergamini commented on #690
Hey guys. I was passing through the same issue.

The way I solved it was adding the script tags into the Head element in the _document.js file

[code]

[2020-07-22 06:22] ArvindSharda78 commented on #798
Thanks @deers , i was also able to use the code and adapt it to my use case.
But I am facing a challenge that when i go to AR view, the changes are lost, they are not visible in the AR, do you encounter this issue.
@cdata @fselcukcan can you please help!

[2020-07-22 10:58] gregbeast commented on #687
Hey everyone. Any news about this vertical plane detection feature?
With Arcore we have use : Config.PlaneFindingMode HORIZONTAL_AND_VERTICAL
In model-viewer there will also be this command to enter in the html?
For info with Apple it is possible to enter the plan detection in the .reality file using Reality Composer.

[2020-07-22 14:36] elalish commented on #798
@ArvindSharda78 Your changes can only be maintained in the WebXR AR mode, since this stays in the browser. SceneViewer and QuickLook (the only option on iOS) are natives apps that must re-download your model, and hence cannot access the changes you've made in the browser.

[2020-07-22 14:42] hybridherbst commented on #1030
@elalish do you have any ETA for when this could happen? I see you moved it into To do, one step in the right direction :)

We're also currently running into this issue. I tried "hacking" around the existing model-viewer, but it seems the main issue for that is that the <a> tag that's used for invoking QuickLook is never added to the DOM and thus no event bubbling occurs from it and it seems it's

[2020-07-22 14:46] elalish commented on #687
@gregbeast I've been a bit swamped lately, but I would like to get this in. It will require some careful thought around how to make the UX smooth. It would be relatively easy if you can only place on the floor or the walls, but if you can do both at once it will be hard not to make the object jump, since it will be placing different sides of its bounding box against the planes. If you have any tho

[2020-07-22 14:54] elalish commented on #1030
@hybridherbst There are several things being discussed here, so could you spell out exactly what you need? Am I correct that you can already customize iOS by adding # info to the `ios-src` attribute? Is all that's left to intercept an event and pass it out?

I can't promise how soon I'll get to it; it's important, but so are a number of other things. Is there a chance you'd be up to trying a PR?

[2020-07-22 14:56] silvainSayduck commented on #687
I'm just jumping in here to point out that this is something that is supported by AR Quick Look since iOS 13 (I think), so maybe that could be a good source for inspiration of the behavior when switching from horizontal to vertical planes.

I think there are indeed a few tricky things, and they were clearly not super smoothed out when first released by Apple (not sure where they're at now, after a

[2020-07-22 15:04] #1372 closed

[2020-07-22 15:10] charpstar commented on #1030
@hybridherbst Seems to work for me. In the openIOSARQuickLook function, I added
 anchor.setAttribute("id", "modelView");
 document.body.appendChild(anchor);

and now it's accessible from the event bubbling.

[2020-07-22 17:16] elalish commented on #1389
I'm sorry, this is due to our docs pages being a bit confusing. They are served off of master, rather than the latest release. You included model-viewer the proper way:
`<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>`
which loads the latest release, v1.0 in this case. However, the feature you're trying to use is newer than 1.0 and hasn't gone

[2020-07-22 20:24] elalish commented on #1379
Thank you, I can repro it now. Digging in...

[2020-07-22 21:01] #1379 closed

[2020-07-23 05:01] deers opened #1397 "Shadow doesn't move when cameraTarget changed"
### Description

Hi, I try using cameraTarget, but the shadow doesn't move. You can see in the demo below the shadow is being cut after I change the value to "0.6m auto auto". Is there a way to fix this?

![Capture](https://user-images.githubusercontent.com/814376/88377806-6afccc80-cdd2-11ea-9ff6-3854f26d46a7.JPG)

#### Live Demo

https://glitch.com/~shadow-cameratarget

[2020-07-23 12:09] hybridherbst commented on #1030
@charpstar yes, but that would be modifying source (which I'm trying to avoid right now because there's issues with building / developing on model-viewer on both Windows Desktop and inside VMs running on Windows, which would add a lot of technical debt).

@elalish the above would probably be all that's needed for a "quick hack" solution; better would be a proper event as cdata outlined above.
A mo

[2020-07-23 13:04] sercandemirtas opened #1399 "AR mode shows object too small"
Hello all!

![IMG_0416](https://user-images.githubusercontent.com/68244546/88289269-ac6f7800-ccfd-11ea-897b-8ebc678c1b64.PNG)

 Object is too small on AR. Anyone knows whats the problem ? Ps: I designed obj via Blender. and tried it with scaling object maximum but still when I open in AR mode it goes too small. As you see in the picture its %1000 zoom  but still its too small.

Thanks

[2020-07-23 15:31] elalish commented on #1399
Cute jacket! The trouble is that glTF specifies that the units for all models are meters. Most modeling programs are pretty loose with their units, so it's easy to accidentally export something that is at completely the wrong scale. It looks like this one might be in units of km? A top-level transform of 100x or 1000x will probably fix it.

If that doesn't work, you might want to check some other

[2020-07-23 15:35] Atomk commented on #1389
It works! I thought the documentation was related to the latest release, but I'm glad you were able to figure it out, I'll use the new link until the next release then. Thanks a lot for your help!

[2020-07-23 15:35] #1389 closed

[2020-07-23 16:44] elalish commented on #1397
Your link isn't working for me; is there a chance you made it private?

[2020-07-23 16:47] sercandemirtas commented on #1399
Thank you dude. Fixed..

By the way thas the jacket.. I shared pic of jacket cuz of you may wanna see full size :)

![IMG_0424](https://user-images.githubusercontent.com/68244546/88314021-0469a700-cd1d-11ea-9d56-832ee5ab0ae3.PNG)

[2020-07-23 17:01] sercandemirtas commented on #1399
I have one more question to you. What about lights on AR mode ? As you see below Web version and AR version are different. Can we make light setup for AR mode ?

![IMG_0424](https://user-images.githubusercontent.com/68244546/88315673-44ca2480-cd1f-11ea-9281-94eec728237f.jpg)

[2020-07-23 17:21] elalish commented on #1399
Great! The lighting is intentionally different in AR, as both SceneViewer and QuickLook attempt to estimate the local lighting in the room and apply that to make the object seem more real (but it's ML, so it's not always perfect). WebXR doesn't have this feature yet, so right now the only way to get consistent lighting between 3D and AR in model-viewer is to use the default WebXR AR mode (only ava

[2020-07-23 17:36] rvootukur opened #1402 "When AR is launched, getting a black screen on Android"
### Description
when trying to open a .glb model in AR, we are getting a black screen. Getting the following error in the console:

ar.js:203 TypeError: Failed to construct 'XRRay': Direction's `w` component must be set to 0.0f!
    at Sb.present (ARRenderer.js:204)
    at async Wb.present (Renderer.js:138)
    at async HTMLElement.[enterARWithWebXR] (ar.js:198)
    at async HTMLElement.activateAR

[2020-07-23 17:42] elalish commented on #1402
I believe this was fixed by #1187. Can you try v1.0 to verify?

[2020-07-23 17:47] rvootukur commented on #1402
This is the code I am seeing in the console:
const ray = new XRRay(new DOMPoint(0, 0, 0), { x: 0, y: -Math.sin(radians), z: -Math.cos(radians) });

[2020-07-23 17:48] elalish commented on #1402
Yes, but that code only exists in v0.10; can you try v1.0 instead?

[2020-07-23 17:57] rvootukur commented on #1402
On our dev platform we are already using v1.0 but unfortunately things are in broken state and couldn't test. will let you know as soon as I can test.

[2020-07-23 17:59] rvootukur commented on #1402
The code from v1.0.0:
const ray = new XRRay(new DOMPoint(0, 0, 0), { x: 0, y: -Math.sin(radians), z: -Math.cos(radians) });

[2020-07-23 18:04] elalish commented on #1402
Yes, but that should default to w = 0. Are you getting the same error as above?

[2020-07-23 21:17] #1338 closed

[2020-07-23 21:17] #1382 closed

[2020-07-23 21:17] #1383 closed

[2020-07-24 02:45] deers commented on #1397
@elalish ups, sorry I forgot to untick the private box. Now you should be able to open the link.

[2020-07-24 15:22] elalish commented on #1397
@deers Thanks, yes that's clearly a bug. Let me see if I can get it fixed for our upcoming release.

[2020-07-24 17:45] #1397 closed

[2020-07-27 18:22] rvootukur commented on #1402
The issue is fixed with V1.0.0. Thank you very much.
I highly appreciate your prompt replies and keep it going.

[2020-07-27 18:22] #1402 closed

[2020-07-28 14:40] pi0neerpat opened #1417 "Remove unnecessary permissions from AR mode"
### Description

Upon entering AR mode, I am prompted to give permissions for my device: **camera**, **record audio**, and **access files**. The **record audio** and **access files** are completely unnecessary, and should be removed for the sake of privacy.

Mozilla A-Frame / WebVR does not require this permissions to run their AR components.

![image](https://user-images.githubusercontent.com/356

[2020-07-28 15:09] elalish commented on #1417
From the look of it, you're launching SceneViewer rather than WebXR, which makes sense since Firefox doesn't support WebXR yet. SceneViewer is a native app and has nothing to do with the browser, so you're seeing generic Android permissions. It asks for all of those because it can record videos of your AR sessions and you can share them. On the plus side, I don't think it'll ask you for those perm

[2020-07-28 16:07] pi0neerpat commented on #1417
I see. I think I was expecting WebXR to launch rather than SceneViewer, since that is what A-Frame does.

One thing that could be really helpful is the option to choose how to display AR, rather than forcing SceneViewer. I am assuming that the only action taken now is to immediately deeplink e.g.

 Chrome v84
**Current behavior**: click AR button -> opens SceneViewer
**Expected behavior**: click A

[2020-07-28 16:29] lgasnier commented on #512
It's an old issue and since then, hotspot features and some javascript code can be used to move the rotation center.
A double click at any point on the 3D model will move it to this point.
A double click outside the model restores the default rotation center.

So we can focus on the clicked point and then zoom on it (useful for example to see details of the top or the bottom of a tall 3D model).

[2020-07-28 16:42] elalish commented on #1417
@pi0neerpat Hmm, your original post said Firefox, but now you say Chrome 84. On Chrome 84 it should definitely be launching webXR by default. We do give you the choice of which AR experience you want to launch, through the `ar-modes` attribute. I may not be understanding: What is your current bug?

[2020-07-28 16:45] elalish commented on #512
@lgasnier Precisely! Thanks for posting this demonstration.

[2020-07-28 17:29] hybridherbst commented on #1030
I think a similar issue is https://github.com/google/model-viewer/issues/1314.
@elalish yes, all that's left is the ability to intercept the event. Not sure if that's in reach for my capabilities, though (I tried to do a PR in the past but was blocked because the model-viewer build pipeline didn't really work on Windows). I do think as @charpstar said it's a pretty small change though!

[2020-07-28 17:31] #1157 closed

[2020-07-28 18:15] gjcope opened #1419 "Annotations no longer hide before load"
### Description

With the newest release, annotations seem to no longer hide before load using the style code from https://modelviewer.dev/examples/annotations.html

`/* This keeps child nodes hidden while the element loads */
  :not(:defined) > * {
    display: none;
  }`

#### Live Demo

https://canyon-tourmaline-titanoceratops.glitch.me/

### Browser Affected

- [x] Chrome 84.0.4147.105
- [ ] E

[2020-07-28 19:14] pi0neerpat commented on #1417
I've been trying with both. Closing since this is related to SceneViewer

[2020-07-28 19:14] #1417 closed

[2020-07-28 20:43] elalish commented on #1419
@gjcope Actually, that line only keeps them hidden until the model-viewer element itself is loaded, which is quick. Then it is the poster which hides the annotations while the 3D model is loading. The reason they're visible is because you set your poster-color to transparent. I would recommend using https://modelviewer.dev/editor/ to create a proper poster image and set poster-color to match your

[2020-07-28 21:26] gjcope commented on #1419
Got it, thanks. We actually were using the old interactive page to create the poster (what makes the new one 'proper'?) and using transparent as indicated in the --poster-color documentation since we have a gradient background and wanted it to remain seamless. Any recommendations other than to not use a gradient?

[2020-07-28 21:30] elalish commented on #1419
Oh, I must have just not noticed. The new page makes just the same kind of posters as the interactive page did, so no worries there. Gradient background with annotations is a little tricky; I'll have to think if there's a way we could make that easier.

[2020-07-29 12:00] gjcope commented on #1419
@elalish Your explanation makes sense, but I still think there is something going on. If you take a look at the glitch, I've added a poster with a transparent background to the first model viewer instance and kept the transparent style. I changed the unpkg model-viewer version to explicitly load 1.0.0 and the annotations are hidden until the model loads. If I change it to 1.1.0 the annotations are

[2020-07-29 12:15] gjcope commented on #1419
To make it a little easier to see, I made two new examples with identical markup (except for mv version) to compare:

[2020-07-29 21:39] corysimmons opened #1421 "Why doesn't this load anything?"
### Description

Downloaded your [Astronaut.glb](https://github.com/google/model-viewer/blob/master/packages/shared-assets/models/Astronaut.glb) and I'm serving it over a CORS-friendly https-friendly proxy (ngrok). I'm trying to load the most basic example I've seen of `<model-viewer>` within a create-react-app project on CodeSandbox.

It seems to load <model-viewer> (I can see its shadow dom elem

[2020-07-29 22:36] elalish commented on #1421
I see a console error that looks unrelated to model-viewer:
![image](https://user-images.githubusercontent.com/1649964/88860440-96a3fc00-d1b0-11ea-82a9-7e46a2b1d293.png)
Not sure why it doesn't show up in the sandbox console. If you search our issues you'll find several others related to React. I'm no expert, but it does seem like importing components into React is not entirely trivial.

[2020-07-29 22:53] Mobiliar3D commented on #687
Hello,

I'm also looking forward for this feature. Please let us know when there is any news regarding that!

[2020-07-30 09:21] corysimmons commented on #1421
I did search for React in your issues and came across a lot of problems related to just importing the library itself, with the workaround being `import "@google/model-viewer/dist/model-viewer"` instead of the more intuitive `import "@google/model-viewer"`

I don't get the error that you are getting (in either the embedded console, or in the standalone app's console):
![image](https://user-images.g

[2020-07-30 09:44] corysimmons commented on #1421
Went with https://github.com/react-spring/react-three-fiber#ecosystem instead.

[2020-07-30 09:44] #1421 closed

[2020-07-30 10:16] corecode1 commented on #553
@cdata Any update on `ar-status` events? In my application, I need to know if AR is supported. I'm trying to do it like this:
`document.getElementById('model-viewer').addEventListener('ar-status', e => {
  console.log(e);
});
`
 I'm not receiving `ar-status` event with this code, while the `model-visibility` works fine.

[2020-07-30 14:10] g3master opened #1424 "Turning off scroll listener?"
### Description

Is it possible to turn off only the scrolling listener from the model viewer, but keeping the drag controls on? I have the model viewer expanded on full page width. When a user scrolls down he can't process on the page because he got stuck in the model zooming. In general is it possible to turn off the zooming?

#### Live Demo
http://sterman.g3kunden.de/produkte/spindelbaugruppen

[2020-07-30 15:50] elalish commented on #1421
@corysimmons Your commentary is fair, but I assure you I don't have anything against React, I just don't know anything about it. I believe I fixed the problem with `import "@google/model-viewer"`, and it's strange that I'm getting different errors than you. It sounds like people have gotten this to work with React, but no one has shared a simple example of it. I'll be happy to put one on our dev p

[2020-07-30 15:55] elalish commented on #553
@corecode1 You'll only get `ar-status` events when the user successfully does something in AR mode, so it cannot serve to figure out if AR is supported. In fact, the browser restricts us from knowing if AR is really supported, so we have some heuristics on whether to show the AR button or not, but they are not at all perfect. You're welcome to look through our AR code and copy the heuristics we ha

[2020-07-30 16:02] elalish commented on #1424
Thank you for filing this, as this has been on my mind for awhile. The trouble is that scroll and drag are pretty intimately linked. We may want an optional mode where vertical drags are passed through to scroll. Does that sound good?

[2020-07-30 17:52] elalish commented on #876
I believe this is fixed with the loading updates in v1.1.

[2020-07-30 17:52] #876 closed

[2020-07-30 17:54] elalish commented on #878
I think these issues have been addressed by WebXR, and likely also by SceneViewer.

[2020-07-30 17:54] #878 closed

[2020-07-30 17:55] #1059 closed

[2020-07-30 17:57] elalish commented on #1060
Any time the model is black until a directional light is added, we have found it is nearly always because the AO texture channel is completely black. Apparently some exporters do this by default, but it is an error.

[2020-07-30 17:57] #1060 closed

[2020-07-30 19:12] corysimmons commented on #1421
Sorry, I wasn't trying to single you out. It's just been a pattern I've noticed. I wouldn't expect React's OSS team to provide usage for shoehorning components into Angular, or vice versa, but for web components specifically it seems like every project with 1k Stars should try to provide a super simple usage example. Ping me if you notice anyone using it in React and I'll see if I can make a reduc

[2020-07-30 22:46] elalish commented on #746
Fixed.

[2020-07-30 22:46] #746 closed

[2020-07-30 22:50] #1067 closed

[2020-07-30 23:07] elalish commented on #1267
Closing as no repro.

[2020-07-30 23:07] #1267 closed

[2020-07-30 23:10] elalish commented on #1318
@klausw Since it looks like the real fix will take a while, do you know a good method to enable dom-overlay only if it's not in an iframe?

[2020-07-30 23:12] elalish commented on #1345
This is a legit bug, but I'm closing it as we're deprecating this page in favor of modelviewer.dev/editor

[2020-07-30 23:12] #1345 closed

[2020-07-30 23:13] elalish commented on #1360
@sun765 Is this fixed now?

[2020-07-30 23:14] elalish commented on #657
Fixed sometime long ago.

[2020-07-30 23:14] #657 closed

[2020-07-30 23:15] elalish commented on #656
This isn't really fixable since animations can move arbitrarily far.

[2020-07-30 23:15] #656 closed

[2020-07-30 23:17] elalish commented on #592
I don't think we need to track this one.

[2020-07-30 23:17] #592 closed

[2020-07-30 23:19] sercandemirtas opened #1426 "Missing Parts&Materials on AR mode"
Hello all.

As you see in the picture on AR mode some parts are missing on my model. I created this "heater" on Blender 2.82
I checked double-side (backface culling) material option and it seems there is no problem. Also all materials options are same for backface culling.

What is the problem ?

![IMG_0471](https://user-images.githubusercontent.com/68244546/88983603-27272d00-d2d4-11ea-90ab-7772d4

[2020-07-30 23:19] elalish commented on #531
I'm okay with manual golden updates.

[2020-07-30 23:19] #531 closed

[2020-07-30 23:20] #499 closed

[2020-07-30 23:24] #406 closed

[2020-07-30 23:32] elalish commented on #1426
From your images it appears the rendering is correct in model-viewer and incorrect in the SceneViewer AR mode? Have you tried `ar-modes="webxr"`? That should give consistent rendering. If you can remix our Glitch from the new issue instructions, I can pass the bug along to the SceneViewer team.

[2020-07-30 23:33] elalish commented on #328
I believe this is fixed as we serve the legacy version as well on our docs pages.

[2020-07-30 23:33] #328 closed

[2020-07-30 23:37] elalish commented on #124
I think this was fixed.

[2020-07-30 23:37] #124 closed

[2020-07-30 23:42] sun765 commented on #1360
Everything is fixed except for part hdr files still can't be loaded. Since Sebastien said he won't add support for these hdr files, so i guess i should closed it now?

[2020-07-30 23:43] elalish commented on #1421
I'll keep an eye out and ping you if I find something, thanks.

[2020-07-31 10:53] sercandemirtas commented on #1426
Im sorry but I dont understand why do I have to try ar-modes="webxr". I checked https://modelviewer.dev/ about webxr and  it looks like different viewer option with multiple models. My model looks normal in web modes. But when we click  AR button it crashes.

![IMG_0482](https://user-images.githubusercontent.com/68244546/89028404-f1fef700-d334-11ea-8f98-075af5df5976.PNG)

[2020-07-31 10:55] sercandemirtas commented on #1426
In the picture it looks like low resolution but it is not. The problem is missing parts&materials on model.

[2020-07-31 10:57] zeekrey commented on #690
Jep, works. 🥳 Here is a working codesandbox with a basic react setup with react helmet to inject the script tag: https://codesandbox.io/s/react-model-viewer-549g2?file=/src/App.js

[2020-07-31 11:02] hybridherbst commented on #1345
Hm, ok, but it looks like several options that were easy to edit on the old page are now gone (shadow options, having some preview models and preview envs, the option to use different images for sky/env). Is there a work item to bring those back or do you want me to open a new issue?

[2020-07-31 12:39] g3master commented on #1424
That would be awesome. I tried quite a while to overwrite the scroll event but as you mentioned either the drag is gone as well or both listener still exist.

[2020-07-31 15:47] elalish commented on #1426
@sercandemirtas The webXR example simply shows how you *can* do fancy things like multiple models, but that's all just extra HTML. On its own, it's very much like SceneViewer: look also at https://modelviewer.dev/examples/augmented-reality.html

Now you're reporting a crash, it sounds like? Can I have a detailed repro for that and any console logs?

[2020-07-31 15:51] elalish commented on #1345
@hybridherbst Did you look through the tabs? I believe all of those options and more are there.

[2020-07-31 16:08] elalish commented on #1421
@corysimmons Looks like we just got exactly what you're after: https://github.com/google/model-viewer/issues/690#issuecomment-667063249

[2020-07-31 16:26] sercandemirtas commented on #1426
There is no crash. My bad. I mean "crash" with problem. "The problem is missing parts&materials on model." I said before that is the topic.

[2020-07-31 16:29] elalish commented on #1426
@sercandemirtas Okay, so in order for me to pass this bug to SceneViewer, I'm going to need your model. Can you put a link to it here? Also, have you tested that webXR mode does in fact render it properly?

[2020-07-31 16:50] sercandemirtas commented on #1426
I tried webXR. It rendered properly. I think there is problem while I converting glb to usdz. Im using Mac terminal usdzconvert command to convert it.  I upload my model glb + usdz format to wetransfer.  (https://we.tl/t-0coACcKFwq  4mb) It is not first time to convert usdz with mac terminal for me. I tried with others models there was no problem but I got this problem with "heater" model.

You ca

[2020-07-31 16:53] sercandemirtas commented on #1426
And that is the link for my model if you wanna test. https://awesome-shockley-7e009f.netlify.app/responsive.html

[2020-07-31 17:10] hybridherbst opened #1428 "modelviewer.dev/editor poster workflow is broken / weird"
### Description

1. After clicking "Display Poster" it seems the page is stuck, "Delete Poster" doesn't do anything (can't interact with the page)
1. Poster is in incorrect aspect ratio (not in page aspect ratio)
1. Poster isn't used as model-viewer poster and thus behaves differently than an actual poster (can't test responsive behaviour)
![image](https://user-images.githubusercontent.com/2693840

[2020-07-31 17:13] hybridherbst opened #1429 "modelviewer.dev/editor sliders are very coarse"
### Description

The sliders on the editor seem to only increment in steps of 1. This makes them hard to use for smaller models and larger models. (Note the few pixels I move the mouse)

![200731-191138](https://user-images.githubusercontent.com/2693840/89059640-d6f6ac00-d361-11ea-998c-45c066eced6b.gif)

#### Live Demo
https://modelviewer.dev/editor/

### Browser Affected

- [X] Chrome
- [ ] Edge

[2020-07-31 17:14] hybridherbst commented on #1345
Yes, I did –

1. default models are not there
1. only a small subset of the previous default envs are there
1. shadow options - found them now!
1. would be great to have an option to load separate background/skybox - wasn't possible before either I think
1. "target point" always says "Waiting for camera target", how can I set that? Edit: after refreshing it seems I can set the target point
1. Post

[2020-07-31 17:14] elalish commented on #1426
Ah, you didn't mention you were on iOS. in this case it's a problem with QuickLook, not SceneViewer. You should post this question on Apple's forums. In future, please use the issue template instead of deleting it :)

[2020-07-31 17:19] elalish commented on #1429
Yes, the UX could use a fair bit of cleanup, though that probably won't happen soon unless we get contributors. At least you can type values in at arbitrary precision.

[2020-07-31 17:20] sercandemirtas commented on #1426
Im sory bro. Im new on github now I understand why we have issue tepmlate. Thank you for trying to help me!

[2020-07-31 17:21] elalish commented on #1428
Indeed, I have a repro on that; that's pretty bad. I had tested this, I wonder when it broke?

[2020-07-31 17:23] elalish commented on #1345
@hybridherbst Thanks! We don't really have to resources to give this proper UX love at the moment, so if you can focus us on things that are blocking your workflows, I'll try to get those taken care of.

[2020-07-31 17:25] Saicopate commented on #1399
What is the maximum size of the object displayed in AR?
I found that some large objects (etc building 3D models) are auto-resized to fit a specific bounding box.

[2020-07-31 17:29] elalish commented on #1399
@Saicopate I believe that is a feature of SceneViewer (and possibly QuickLook?). WebXR mode does not currently auto scale at all. I don't actually know the answer, but hopefully their documentation will say something about it.

[2020-07-31 17:35] hybridherbst commented on #1428
Great to hear! This is really something that I feel is very, very important as we try to build more model-viewer experiences, and something we're still struggling with.

To give some context on what the "poster workflow" ideally does:
- allows me to generate and download a poster
- for a target viewpoint and target camera orientation that I can define
- that works as responsive poster across mobil

[2020-07-31 21:21] corysimmons commented on #690
@elalish This is the simplest possible example of <model-viewer> working with a create-react-app app:

[code]

So the problem with everything I tried before was I was using `import "@google/model-viewer/dist/model-viewer"` when I needed to be using `import "@google/model-viewer/dist/model-viewer-legacy"` (this is in 1.1.0).

Again, I'd strongly suggest creating/maintaining an `/examples` folder at

[2020-07-31 22:00] elalish commented on #690
@corysimmons Thanks, that's very interesting! Seems odd that React would require ES5, and it seems the examples given earlier by @zeekrey and @pedrobergamini don't restrict in that way. I agree about the examples folder. Would you be up for making a PR like that?

[2020-07-31 22:11] corysimmons commented on #690
@elalish Clocking out and closing laptop for the weekend, but ping me Monday and I'll PR it.

React definitely doesn't require ES5. I think the export just needs some work. Exports can be tricky.

[2020-08-02 10:33] sercandemirtas commented on #1426
Problem fixed. It is all about solidify of object. If you are using blender or other 3d programs make your object solid. At least 0.001cm and do not forget to **_apply_** it. and also if you used modifier like "array" apply it too before export. Sometimes array objects could be problem when you convert to usdz..

[2020-08-02 17:18] sercandemirtas opened #1432 "Position of AR mode button"
Hello all!

Is it possible to change position of AR button on mobile devices ? Default version it is in the right buttom but I want it to move right top.

Thanks..

### Version

- model-viewer: v1.1.0

### Browser Affected

- [x] Chrome
- [ ] Edge
- [ ] Firefox
- [ x] IE
- [x ] Safari

### OS

- [x ] Android
- [x ] iOS
- [ ] Linux
- [ ] MacOS
- [ ] Windows

[2020-08-02 20:12] sercandemirtas commented on #1432
Actually I dont want custom button. I just want to change position of default one.

[2020-08-02 21:02] dmq-ar opened #1433 "Pixel XL AR mode black screen iFrame"
### Description

My investigation of #1318

My developer page not showing AR mode, but the same code works great on [our customer's website](https://dantonehome.ru/catalog/new/divan-narvik/).

![image](https://user-images.githubusercontent.com/62610948/89135415-1544c480-d536-11ea-8d29-78474c3a5abc.png)

The idea is very simple: add a link to JS code located on our server and just put an iframe in

[2020-08-02 21:09] dmq-ar commented on #1433
I thought there is a problem with alpha, but I've checked another 3D model (a simple table) and faced the same problem, but with less logs

![image](https://user-images.githubusercontent.com/62610948/89132530-8d52c080-d51d-11ea-9a43-1e35f38c407c.png)

[Another link](https://mebeldantone.firebaseapp.com/#573_DCTDR105)

[2020-08-02 21:22] marcusx2 opened #1434 "demo doesn't work when I try to host."
### Description

I tried simply copying the .html and .css from this demo project: https://model-viewer.glitch.me/ and hosting them at https://awesome-brown-86efb4.netlify.app/. However it doesn't work! When I click to see the AR the astronaut just floats around and I can't interact with it! I even used the developer tools to see the network traffic, it's all the same. Is there any additional conf

[2020-08-02 21:33] dmq-ar commented on #1433
One more thing (very nice one).

[My developer page](https://mebeldantone.firebaseapp.com/#082_NRV-2MS) not showing AR mode, but the same code works great on [our customer's website](https://dantonehome.ru/catalog/new/divan-narvik/). You need to select 3D button under the preview block.

The idea is very simple: add a link to JS code located on our server and just put an iframe in your web page. S

[2020-08-03 08:04] hybridherbst commented on #1121
Did some more tests with this, trying to get it to run on Windows.
- there's some issues in fetch-khronos-gltf-samples.sh that prevent it to run from Windows ( . not found)
- I was able to run it from WSL (after changing line ends from CRLF to LF, might be that git checkout from windows decided to change that)
- I was able to pingpong back and forth with some commands working in Powershell and som

[2020-08-03 10:51] sercandemirtas opened #1436 "Ver 1.1.0 Ar Button Does not Seem"
Hello all again.

I changed model viewer version "0.3.1 to 1.1.0". After that change Ar button started to does not seem in mobile Google Chrome ? Anyone having that problem too? or am I doing something wrong.

ps:I checked Safari mobile and there is no problem with that.

These are the my codes.

    <model-viewer class="a"
                  src="/Assets/m4/m4.glb"
                  alt="3D Koltuk

[2020-08-03 10:57] AytoMaximo commented on #1436
Hi! I guess there is `quick-look-browsers="safari chrome"` attribute is missing :)

[2020-08-03 11:08] sercandemirtas commented on #1436
Upss. I got it. I missed that. Now it worked. Thank you AytoMaximo!

[2020-08-03 11:09] #1436 closed

[2020-08-03 13:12] sercandemirtas commented on #1432
Its ok. I did it.

[2020-08-03 13:12] #1432 closed

[2020-08-03 15:34] elalish commented on #690
@corysimmons Thanks, looking forward to it! Definitely interested if our export needs work.

[2020-08-03 15:42] elalish commented on #1434
When you say "floats around", I'm pretty sure that means you're in webXR mode before ARCore has found your floor. We have that intermediate mode where the object is in the middle of the screen and the orientation is controlled by the orientation of the floor. In order for ARCore to find your floor, you have to move your phone side-to-side and have some texture to look at. If you look at our [demo]

[2020-08-03 15:45] marcusx2 commented on #1434
Yes, please load the URL I provided on your phone. It's the exact same code as the demo. But for some reason on my upload, I don't get the prompt to find the floor. It doesn't work.

[2020-08-03 15:46] elalish commented on #1433
As best I can tell, what you've found is that the model works in 3D, SceneViewer (this is the AR Animals app) and QuickLook (the iOS app), but not WebXR in an iFrame. As you found, that is a known issue and one we intend to fix. If you need to use an iFrame, for now you can specify `ar-modes="scene-viewer quick-look"` to skip the webXR bug.

[2020-08-03 15:49] elalish commented on #1121
@bsdorra has gotten this working a bit better on WSL and he said he might write up some tips that we can document.

[2020-08-03 15:57] elalish commented on #1434
I don't see any instructions in our glitch version either; it's very simple and we only added that to our webXR demo. It is accomplished by the HTML and CSS related to `id="ar-prompt"`. Keep in mind that if you use scene-viewer instead of webxr, you'll get a different (and non-customizable) experience.

[2020-08-03 16:24] marcusx2 commented on #1434
Here's a gif showing what I see when I load the demo. There are definitely instructions!
![ezgif com-optimize](https://user-images.githubusercontent.com/5656275/89204377-5f589500-d58c-11ea-8784-ae476454f2dd.gif)

I don't understand what you mean, like I said I'm using the same code from the demo.

[2020-08-03 16:33] elalish commented on #1434
Your GIF is definitely showing scene-viewer. It should choose webxr by default; what browser version are you using? I would recommend experimenting with our `ar-modes` attribute to help you diagnose, since you can use that to restrict what AR modes it will try.

[2020-08-03 16:42] marcusx2 commented on #1434
Chrome 84.0.4147.111 on Android. So you're saying that on the official demo it opens using scene-viewer but on my upload it opens using webxr?

[2020-08-03 16:46] elalish commented on #1434
That is what you're reporting. It's odd because the official demo opens webxr for me. If you'd be up for setting some break points and letting me know why it choses the wrong AR mode, that would be very helpful. What device is it?

[2020-08-03 16:50] marcusx2 commented on #1434
Awesome! It worked! I just changed my code to `ar-modes="scene-viewer"` and I got the experience I want. I'm using Samsung s8. Why should I use webxr when the scene-viewer does the job?

[2020-08-03 16:54] elalish commented on #1434
Great! They have different pros and cons, so it depends what you want. SceneViewer is a separate app, so you have to download the file a second time and it leaves your website, so you don't know what your user is doing. WebXR stays in the browser, so it's fully customizable with HTML and CSS. Also, the rendering is more consistent since it uses the same engine.

[2020-08-03 16:59] marcusx2 commented on #1434
Hm...I see! I tried this [demo](https://modelviewer.dev/examples/webxr.html), which uses webxr and has instructions. However, I can't scale the objects for some reason? Also, it's harder to rotate than on scene-viewer. It seems I need to click on a specific place to rotate the objects, while on scene-viewer I can just use 2 fingers to do it. However, I agree, it's more smooth than scene-viewer.

[2020-08-03 17:05] elalish commented on #1434
Yes, if you look at the attributes you'll see `ar-scale="fixed"`, since that is often desirable for commercial products. Two-finger rotation is on my todo list.

[2020-08-03 17:07] marcusx2 commented on #1434
I am interested in helping you with discovering why it chooses the wrong ar mode. Where should I place breakpoints?

[2020-08-03 17:12] elalish commented on #1434
Thanks! Search for this line: `if (value === 'webxr' && IS_WEBXR_AR_CANDIDATE` for your break point. I'd expect this whole if statement to be true, but it seems to be false. If you can figure out which part is returning false (and maybe dig a little deeper), that would be very helpful.

[2020-08-03 18:39] dmq-ar commented on #1433
Thanks, it did a trick! However, the 3D model is to large for some reason... not the same size as in iOS quick-look.

The main idea I want to share that for some reason the same code forces SceneViewer or WebXR on different websites without a fix above. Why?

[2020-08-03 18:47] corysimmons commented on #690
@elalish https://github.com/google/model-viewer/pull/1437 Don't have time to investigate the export, but I know that stuff can be tricky so it's very likely the new version works fine, it just isn't exported correctly like the legacy version. 🤷

[2020-08-03 19:06] marcusx2 commented on #1434
The problem is that `IS_WEBXR_AR_CANDIDATE` returns undefined. On `constants.js`, `HAS_WEBXR_DEVICE_API` returns false because `navigator.xr` is `undefined`

![image](https://user-images.githubusercontent.com/5656275/89217829-3d1e4180-d5a3-11ea-9c2f-e0436566f5f3.png)

[2020-08-03 19:27] elalish commented on #1434
Argh, thank you! I should have noticed this before. WebXR is only allowed on https; If you try to use it on http, `navigator.xr` will be undefined. The problem I've noticed on Android is that when you type in a web address it defaults to http, hence the failure.

[2020-08-03 19:30] marcusx2 commented on #1434
Loooooooooooooool. It was something so simple! Good to know!

[2020-08-03 19:34] marcusx2 commented on #1434
Another thing that I noticed, on WebXR when you scale the object, you don't see the percentage on top. I think it's a nice touch that is available on scene viewer and should be on WebXR as well.

[2020-08-03 19:51] marcusx2 commented on #1434
And one last thing... this [demo ](https://modelviewer.dev/examples/webxr.html) doesn't work iPhone. Not on Safari, not on chrome. This [demo](https://model-viewer.glitch.me/), however, works on safari but not on chrome(iPhone). So on iPhone, I can only use the scene viewer, and only on safari?

[2020-08-03 19:59] elalish commented on #1434
quick-look is the only thing available on iOS at the moment: https://modelviewer.dev/examples/augmented-reality.html. You'll also want to set quick-look-browsers to "safari chrome".

[2020-08-03 20:37] elalish commented on #1433
Check that your address is https; http won't allow webXR to work, and it'll fall back to sceneViewer. This is a common problem as Android likes to default to http.

[2020-08-03 20:46] dmq-ar commented on #1433
I'm using https only for hosting and file server

[2020-08-03 21:10] marcusx2 commented on #1434
Thanks! That worked! Now, when I open the scene viewer, is there a way to remove the blue `visit` button that appears? It fills space in the screen unnecessarily.

[2020-08-04 01:46] marcusx2 commented on #1434
I see you talk about the issue [here](https://github.com/google/model-viewer/issues/1143), and that it was closed. So there is a way already, but how? Sorry I couldn't figure it out haha.

[2020-08-04 16:32] dboulanger363 opened #1438 "Hide/show parts"
Is it possible to hide/show of parts of the model after loading using scene graph api for example?

[2020-08-04 17:06] klausw commented on #1318
The usual idiom seems to be to check if `window.parent == window` which is false when in an iframe. Careful, accessing window.parent.location in a cross-origin iframe throws a security exception (and crashes Chrome DevTools...).

[2020-08-04 17:22] elalish commented on #1438
Not yet, but that's a direction we would like to take it.

[2020-08-04 17:40] #1434 closed

[2020-08-04 17:40] marcusx2 commented on #1434
Problem solved.

[2020-08-04 17:46] marcusx2 opened #1439 "How do I remove link and title from Scene Viewer?"
### Description
I want to remove the bottom bar from the scene viewer, which contains the link and title. [This issue](https://github.com/google/model-viewer/issues/1143), which was closed, also describes the problem. It seems to me that it was fixed and it's already possible to do what I want, but I can't figure out how.

### Version
- model-viewer: v1.1.0

### Browser Affected
- [x] Chrome

###

[2020-08-05 17:55] #1428 closed

[2020-08-05 18:01] elalish commented on #1428
@hybridherbst Okay, I fixed the primary problem, which was just a regression I introduced. Thankfully it is unlikely to affect anything but our own configurators. As to your comment on aspect ratios; we do make a seamless poster that works for all aspect ratios, but with the caveat you identified which is that it's letter-boxed when using a skybox. In general, the skybox is not our #1 concern as i

[2020-08-05 18:04] elalish commented on #1360
Yeah, I think this is all good now.

[2020-08-05 18:04] #1360 closed

[2020-08-05 18:59] Miles10123 opened #1442 "How to get a .glb file with stored animations?"
Just a question. I am trying to use this model-viewer in a site and I am unable to export models from keyshot with animations attached to them. Any tips or idea of how to get that to work?

Thanks in advance!

[2020-08-05 20:15] billschnoebelen opened #1443 "viewer.min.js:1010 Error"
### Description

This is working fine on my localhost.

I uploaded to Digital Ocean droplet. Nothing shows up in canvas. I get the following uncaught error:

Chrome:
_createForOfIteratorHelper.js:51 Uncaught TypeError: Cannot read property 'prototype' of undefined
    at HTMLElement.value (model-viewer.min.js:1010)
    at HTMLElement.value (model-viewer.min.js:1010)
    at HTMLElement.value (model

[2020-08-05 21:32] hybridherbst opened #1444 "Poster coverage is not seamless when aspect ratio is "more portrait" than generated poster"
### Description

Follow up to #1428.

Poster coverage is not seamless at portrait aspect ratios. Seems the poster is scaled down to fit into viewport while the model is not scaled down, resulting in incorrect transition.

#### Live Demo
http://modelviewer.dev/editor

Create & display poster at ~square aspect
Scale page to "portrait" (e.g. 1:2)
Click on poster
Expected: seamless transition
Actual:

[2020-08-06 01:37] billschnoebelen commented on #1443
This is a React App

Solved by #1437

This solved it:
import "@google/model-viewer/dist/model-viewer-legacy";

This worked locally, but not on server:
import "@google/model-viewer";

[2020-08-06 01:37] #1443 closed

[2020-08-06 05:32] paperli opened #1445 "AR model reflects environment-image"
### Description

I set both the environment-image and skybox-image in the model-viewer, and view the model in AR with Pixel 3. The model reflects the environment-image in WebXR’s AR viewer. It makes no sense because the AR model shall reflect real world environment instead of pre-set env map. Is there an option to prevent environment-image reflection in AR.
There is no problem either in iOS’s quic

[2020-08-06 09:46] AytoMaximo opened #1446 "model-viewer.min.js net::ERR_ABORTED 404"
Hi! I can't load your package from https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js
So.. where is it now? I feel really confused, 'cas our products stoped working all at once. It's not a good idea to delete everything from  public repository.

[2020-08-06 09:55] pankajbaviskar commented on #1446
I'm also facing the same issue, looks like some issue with unpkg.com again

[2020-08-06 09:58] yordiverbeeck commented on #1446
Got the same issue but seems to be fixed again now

[2020-08-06 10:00] pankajbaviskar commented on #1446
yes, working for me as well.

[2020-08-06 10:15] corecode1 opened #1447 "viewer breaks after rotating on ios 14"
### Description

Wait till the page and model loads. Then rotate device. Model viewer reports webgl context lost error, and nothing is displayed. Model-viewer must be fullscreen. This happens only with thin models, adding more thickness to exported mesh or additional thicker objects to model fixes the problem.

Happens on IOS 14 Public beta 2 and 3. Issue occured on Iphone 11 in both safari and ch

[2020-08-06 10:29] AytoMaximo opened #1448 "Couldn't load object in AR"
### Description

One our 3D model has some unknown issues preventing its loading in AR (scene-viewer). We've validated this model with the help of https://arvr.google.com/scene-viewer-preview, but there are no errors, just a few warnings. We've almost tried to reduce model size (<10mb), remove textures and reduce number of triangles (<100k), even remove animation. No luck.

Also, I have such a pro

[2020-08-06 10:46] AytoMaximo commented on #1448
An important update. It's not an issue about 3d model at all. I've found out that for some reason scene-viewer tries to load not an actual file, however in 3D mode it's a new one.
What've I've done: I took another 3D model with another id and links, changed glb file and opened with my phone (of course after clean cache). I saw a ship in 3D mode, however proceeding to AR opened an old model.

[2020-08-06 10:56] #1446 closed

[2020-08-06 19:32] elalish commented on #1445
Correct, and it does this because the WebXR API does not yet expose estimated environment lighting, though it's coming soon. If you select `ar-modes="scene-viewer quick-look"`, those both use estimated lighting, though we've actually gotten even more complaints about that. It's all ML, and sadly nothing is perfect.

[2020-08-06 19:42] elalish commented on #1447
Wow, that's a strange one. So context loss here is dependent on both model geometry and the phone changing orientation? I have a hard time believing this is a model-viewer bug. Have you filed it on Safari?

[2020-08-06 19:48] elalish commented on #1448
I have no idea how you got an out-of-date model URI in scene-viewer when it was up-to-date in model-viewer. @tpsiaki any ideas? You shouldn't have to worry about this in webXR mode, since that does not require downloading the model again.

[2020-08-06 19:56] AytoMaximo commented on #1448
I'm using iFrame, so no WebXR for me nowadays

чт, 6 авг. 2020 г. в 22:48, Emmett Lalish <notifications@github.com>:

--
С уважением,
Алпатова Марианна

[2020-08-06 21:10] paperli commented on #1445
Thanks for the reply. We did change the at-modes settings to work around the problem. I am still curious about why `skybox-image` doesn’t affect the reflection but `environment-image` dose.